caNanoLab
{
gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
driver="com.mysql.jdbc.Driver"
url="jdbc:mysql://DATABASE_HOST:DATABASE_PORT/canano"
user="DATABASE_USER"
passwd="DATABASE_PASSWORD"
query="SELECT * FROM csm_user WHERE LOGIN_NAME=? and PASSWORD=?"
encryption-enabled="YES";
};