## Ignore build.properties ##

software/cananolab-webapp/build.properties

## Ignore target, build, C: directories ##

software/cananolab-webapp/build/
software/cananolab-webapp/target/
software/cananolab-webapp/C:/

## Ignore .DS_Store files ##

.DS_Store
