## Ignore build.properties ##

software/cananolab-webapp/build.properties

## Ignore target, build, C: directories ##

software/cananolab-webapp/build/
software/cananolab-webapp/target/
.DS_Store
**/.DS_Store
.classpath
.project

software/cananolab-webapp/.settings/*

## Ignore node modules ##

node_modules/

