# For File input and output
# Directory for storing caLAB data files 
#fileRepositoryDir=C:/temp/caNanoLab/fileupload
fileRepositoryDir=@FILE_REPOSITORY_DIR@

# Properties for HTTP-based file upload 
archiveValue=/caNanoLab/workflow/SignedHttpUploadApplet.jar
servletURL=/caNanoLab/processFileUpload
notifyURL=/caNanoLab/fileUpload.do?dispatch=persistFileUploadData
defaultURL=/caNanoLab/workflowMessage.do

