<div class="spacer">
	<div ng-class="{formFocus:loader}"> 
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Sample Search Results
       </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>            
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
<br /><div ng-init="p=tableParams.$params;
				length=sampleData.data.samples.length;
				">{{utilsService.resultCount(tableParams.$params,length,tableParams.data.length)}}
	</div><br />

<table ng-table="tableParams" class="table sample" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<th ng-repeat="column in sampleData.data.columnTitles track by $index">
			{{column}}
		</th>										
	</tr>
	<tr ng-repeat="row in $data track by $index" ng-class="{ 'emphasis': $index%2==0}">
		<td ng-repeat="col in row.columns track by $index" valign="top">
			<div ng-if="col.type=='Sample'">
				<a href=""  ng-click="displaySample(row.sampleId)">{{col.val[0]}}</a>
			</div>

			<div ng-if="col.type=='POC'">
				<div ng-repeat="poc in col.val track by $index" ng-bind-html="poc">
					poc
				</div><br /><a href="" ng-click="showPocDetails(row.sampleId)">Details</a>
			</div>


			<div ng-if="col.type=='Characterization'">
				<div ng-repeat="char in col.val track by $index">
					{{char.displayName}} (charID = {{char.dataId}})<br />
					<a href="" ng-click="showCharDetails(row.sampleId, char.dataId)">Details</a><br /><br />
				</div>
			</div>	
			<div ng-if="col.type=='Nanomaterial'">
				<div ng-repeat="char in col.val track by $index">
					{{char.displayName}} (charID = {{char.dataId}})<br />
					<a href="" ng-click="showNanoMaterialDetails(row.sampleId, char.dataId)">Details</a><br /><br />
				</div>
			</div>
			
			<div ng-if="col.type=='Function'">
				<div ng-repeat="char in col.val track by $index">
					{{char.displayName}} (charID = {{char.dataId}})<br />
					
					<div ng-if="char.relatedEntityType=='functionalizingEntity'">
					<a href="" ng-click="showFunctionalizingEntityDetails(row.sampleId, char.dataId)">Details</a><br /><br />
					</div>
					<div ng-if="char.relatedEntityType=='nanomaterialEntity'">
					<a href="" ng-click="showNanoMaterialDetails(row.sampleId, char.dataId)">Details</a><br /><br />
					</div>
					
				</div>
			</div>
			<div ng-if="col.type=='FunctionalizaingEntity'">
				<div ng-repeat="char in col.val track by $index">
					{{char.displayName}} (charID = {{char.dataId}})<br />
					<a href="" ng-click="showFunctionalizingEntityDetails(row.sampleId, char.dataId)">Details</a><br /><br />
				</div>
			</div>															
		</td>
	</tr>
</table> 
</div>
<div id="loader" ng-show="loader">
	<div id="loaderText">
		Loading
	</div>
	<div id="loaderGraphic"></div>
</div>
</div>