<div class="spacer">
	<div ng-class="{formFocus:loader}"> 
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Sample Search Results
       </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>            
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>

	<br />
	<table class="editTableWithGrid" width="100%">
	    <tr>
	        <th style="text-align: center" scope="col">
	            Selected Criteria
	        </th>
	        <td style="text-align: right">
	        		<button ng-click="goBack()">Edit</button>
	        </td>
	    </tr>
	    <tr>
	        <td>
	            <table summary="layout">
	                <tr ng-repeat="sample in sampleQueries">
	                    <td>
	                        <span id="nameTypeValue">{{sample.nameType}}</span>
	                    </td>
	                    <td>
	                        <span id="sampleOperandValue">{{sample.operand}}</span>
	                    </td>
	                    <td>
	                        <span id="nameValue">{{sample.name}}</span>
	                    </td>
	                </tr>
	            </table>
	        </td>
	        <td></td>
	    </tr>
	    <tr>
	        <td>
	            <table summary="layout">
	                <tr ng-repeat="composition in compositionQueries">
	                    <td width="25%">
	                        <span id="compTypeValue">{{composition.compositionType}}</span>
	                    </td>
	                    <td width="20%">
	                        <span id="entityTypeValue">{{composition.entityType}}</span>
	                    </td>
	                    <td width="20%">
	                        <span id="compOperandValue">{{composition.operand}}</span>
	                    </td>
	                    <td width="20%">
	                        <span id="chemicalNameValue">{{composition.chemicalName}}</span>
	                    </td>
	                </tr>
	            </table>
	        </td>
	        <td></td>
	    </tr>
	    <tr>
	        <td>
	            <table summary="layout">
	                <tr ng-repeat="characterization in characterizationQueries">
	                    <td width="15%">
	                        <span id="charTypeValue">{{characterization.characterizationType}}</span>
	                    </td>
	                    <td width="15%">
	                        <span id="charNameValue">{{characterization.characterizationName}}</span>
	                    </td>
	                    <td width="15%">
	                        <span id="datumNameValue">{{characterization.datumName}}</span>
	                    </td>
	                    <td width="10%">
	                        <span id="charOperandValue">{{characterization.operand}}</span>
	                    </td>
	                    <td width="15%">
	                        <span id="datumValueValue">{{characterization.datumValue}}</span>
	                    </td>
	                    <td>
	                        <span id="datumValueUnitValue">{{characterization.datumValueUnit}}</span>
	                    </td>
	                </tr>
	            </table>
	        </td>
	        <td></td>
	    </tr>
	</table>
<br />
<div ng-init="p=tableParams.$params;
				length=sampleData.data.samples.length;
				">{{utilsService.resultCount(tableParams.$params,length,tableParams.data.length)}}
	</div><br />

<table ng-table="tableParams" class="table sample" width="100%" cellspacing="0" cellpadding="0">
<!-- 	<tr>
		<th ng-repeat="column in sampleData.data.columnTitles track by $index">
			{{column.label}}
		</th>										
	</tr> -->

        <tr>
            <th valign="top" ng-repeat="column in sampleData.data.resultTable.columnTitles"
                class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy(column.value, 'asc'),
                    'sort-desc': tableParams.isSortBy(column.value, 'desc')
                  }"
                ng-click="tableParams.sorting(column.value, tableParams.isSortBy(column.value, 'asc') ? 'desc' : 'asc')">
                <div>{{column.label}}</div>
            </th>
        </tr>

	<tr ng-repeat="row in $data track by $index" ng-class="{ 'emphasis': $index%2==0}">
		<td ng-repeat="col in sampleData.data.resultTable.columnTitles track by $index" sortable="col.value" ng-init="colVal=col.value">
			<div ng-if="colVal=='sampleName'">
				<a href="" ng-click="displaySample(row.sampleId)">{{row[colVal]}}</a>
			</div>

			<div ng-if="colVal=='pointOfContact'">
				<div>
					<span ng-bind-html="row[colVal]">Contact</span>
				</div><br /><a href="" ng-click="showPocDetails(row.sampleId)">Details</a>
			</div>
			<div ng-if="colVal=='physicalChemicalChar'||colVal=='invivoChar'||colVal=='invitroChar'||colVal=='exvivoChar'">
				<div ng-repeat="char in row[colVal] track by $index" ng-init="charList=char.split('|')">
					<div>{{charList[0]}}<br />
						<a href="" ng-click="showCharDetails(row.sampleId,charList[1])">Details</a><br /><br />
					</div>
				</div>
			</div>	
			<div ng-if="colVal=='functionalizingEntity'||colVal=='nanomaterialEntity'||colVal=='function'">
				<div ng-if="colVal=='nanomaterialEntity'" ng-repeat="item in row[colVal] track by $index" ng-init="itemList=item.split('|')">
					<span ng-bind-html="itemList[0]">Entity</span><br />
					<a href="" ng-click="showNanoMaterialDetails(row.sampleId, itemList[1])">Details</a><br /><br />					
				</div>
				<div ng-if="colVal=='functionalizingEntity'" ng-repeat="item in row[colVal] track by $index" ng-init="itemList=item.split('|')">
					<span ng-bind-html="itemList[0]">Entity</span><br />					<a href="" ng-click="showFunctionalizingEntityDetails(row.sampleId, itemList[1])">Details</a><br /><br />
				</div>
				<div ng-if="colVal=='function'" ng-repeat="item in row[colVal] track by $index" ng-init="itemList=item.split('|')">
					{{itemList[0]}}<br />
					<div ng-if="itemList.length>2">
						<a href="" ng-if="itemList[2]=='functionalizingEntity'" ng-click="showFunctionalizingEntityDetails(row.sampleId, itemList[1])">Details</a>
						<a href="" ng-if="itemList[2]=='nanomaterialEntity'" ng-click="showNanoMaterialDetails(row.sampleId, itemList[1])">Details</a>

					</div><br /><br />


				</div>
			</div>
		</td>
	</tr>
</table> 
</div>
<div id="loader" ng-show="loader">
	<div id="loaderText">
		Loading
	</div>
	<div id="loaderGraphic"></div>
</div>
</div>