<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
      <link rel="stylesheet" href="../../../styles/bootstrap.css">
      <link rel="stylesheet" href="../../../styles/main.css">
      <link rel="stylesheet" href="../../../css/summaryView.css">
      <script src="../../../bower_components/angular/angular.js"></script>
      
</head>  
<body ng-app="angularApp">
<div ng-controller="PrintCompositionCtrl">
  <div id="loader" class="sample offset" ng-show="loader">
    <div id="loaderText">
      Loading
    </div>
    <div id="loaderGraphic"></div>
  </div>    
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!nanomaterialentityEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include
                    page="nanomaterialEntity/bodyNanomaterialEntitySummaryView.jsp">
                <jsp:param name="sampleId" value="{{sampleId}}" />
                <jsp:param name="index" value="{{index}}" />
            </jsp:include> -->

            <ng-include src="'../composition/nanomaterialEntity/nanoMaterialEntitySummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!functionalizingentityEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include
                    page="nanomaterialEntity/bodyNanomaterialEntitySummaryView.jsp">
                <jsp:param name="sampleId" value="{{sampleId}}" />
                <jsp:param name="index" value="{{index}}" />
            </jsp:include> -->
            <ng-include src="'../composition/functionalizingentity/functionalizingEntitySummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!chemicalassociationEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include page="bodyChemicalAssociationSummaryView.jsp">
                <jsp:param name="sampleId" value="${param.sampleId}" />
                <jsp:param name="index" value="${index}" />
            </jsp:include> -->

            <ng-include src="'../composition/ChemicalAssociationSummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!compositionfileEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include page="bodyCompositionFileSummaryView.jsp">
                <jsp:param name="sampleId" value="${param.sampleId}" />
                <jsp:param name="index" value="${index}" />
            </jsp:include>  -->

            <ng-include src="'../composition/compositionFile.html'"></ng-include>

        </td>
    </tr>
</table>
</div>

<script src="../../../scripts/controllers/sample/view/printComposition.js"></script>
<script src="../../../bower_components/angular-route/angular-route.js"></script>
<script src="../../../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../../../scripts/factories/utils.js"></script>



</div>

</body>
</html>