<div class="modal-body">
<div>
	<a href="" ng-click="ok()" class="help">Hide</a>
	<a href="https://wiki.nci.nih.gov/display/caNanoLab/Managing+Samples+in+caNanoLab#ManagingSamplesincaNanoLab-Metrics" target="_blank" class="help">Help</a>
</div>
<table class="summaryViewWithGrid" width="100%" align="left" ng-init="data=availabilityData">
	<tr><th colspan="3">caNanoLab Availability Score: {{data.caNanoLabScore}}&nbsp;&nbsp;
		MINChar Availability Score: {{data.mincharScore}}</th></tr>
	<tr>
		<td  class="cellLabel" align="center">
			caNanoLab
		</td>
		<td  class="cellLabel" align="center">
			MINChar
		</td>
		<td class="cellLabel" align="center">
		{{data.sampleName}}
		</td>
	</tr>
	<tr>
		<td></td>
		<td>agglomeration and/or aggregation </td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>crystal structure/crystallinity</td>
		<td></td>
	</tr>	
	<tr>
		<td>
			General Sample Information
		</td>
		<td></td>
		<td align="center">
			<img src="images/icon_checkMark.png"  />
		</td>
	</tr>
	<tr>
		<td>
			Sample Composition
		</td>
		<td>
			chemical composition
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='sample composition'" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;nanomaterial entities
		</td>		
		<td>			
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='nanomaterial entities'" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;functionalizing entities
		</td>		
		<td>			
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='functionalizing entities'" />
		</td>
	</tr>
	<tr>		
		<td>
			&nbsp;&nbsp;chemical associations
		</td>		
		<td>			
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='chemical associations'" />			
		</td>
	</tr>
	<tr ng-repeat="chem in data.chemicalAssocs">		
		<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{chem}}
		</td>		
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==chem">{{val}}
			</span>					
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==chem" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;sample function
		</td>		
		<td>
			
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='sample function'" />
		</td>
	</tr>
	<tr>
		<td colspan="3">
			Physico-Chemical Characterization
		</td>
	</tr>
	
		<tr ng-repeat="char in data.physicoChars" ng-if="char=='surface'">
			<td>
				&nbsp;&nbsp;{{char}}
			</td>
			<td></td>
			<td align="center">
						<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
			</td>
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;surface area</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='surface area'">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='surface area'" />
		</td>	
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;surface charge</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='surface charge'">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='surface charge'" />
		</td>	
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zeta potential</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='zeta potential'">{{val}}
			</span>		
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='zeta potential'" />
		</td>	
		</tr>





		<tr ng-repeat="char in data.physicoChars" ng-if="char!='surface'">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>		
		</td>
		<td  align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>	
		</tr>			
	
	<tr>
		<td colspan="3">
			In Vitro Characterization
		</td>
	</tr>
		<tr ng-repeat="char in data.invitroChars">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>			
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>	
		</tr>		
	<tr>
		<td colspan="3">
			In Vivo Characterization
		</td>
	</tr>
		<tr ng-repeat="char in data.invivoChars">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>			
		</td>
		<td  align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>	
		</tr>	
	<tr>
		<td>
			Publications
		</td>
		<td></td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='publications'" />
		</td>
	</tr>
</table>


	<div style="margin-top:100px;margin-left:38px;width:300px" ng-show="deleteBlock" class="message">
	    	<br /><br />Are you sure you wish to delete the data availability metric?<br /><br />
	    	<div>
	    	<button ng-disabled="loader" style="margin-right:50px !important;" ng-click="delete(1,1)" class="btn btn-danger btn-sm">Yes</button>
	    	<button ng-disabled="loader" style="margin-right:50px !important;" ng-click="delete(0,1)" class="btn btn-warning btn-modal">No</button>
		</div>
	</div>

</div>

<br />
<div class="modal-footer">
  <button ng-disabled="loader" ng-if="edit" class="btn btn-warning btn-danger" ng-click="delete()">Delete</button>
  <button ng-disabled="loader" ng-if="edit" class="btn btn-primary btn-modal" ng-click="regenerate()">Regenerate</button>
  <button ng-disabled="loader" class="btn btn-warning btn-modal" ng-click="ok()">Close</button>
</div>
  <div id="loaderPopup" ng-show="loader">
    <div id="loaderText">
      {{loaderMessage}}
    </div>
    <div id="loaderGraphic"></div>
  </div>