<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Sample Search Results
       </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>            
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>{{sampleData2}}
<br /><div ng-init="p=tableParams.$params;
				length=sampleData.data.length;
				">{{utilsService.resultCount(tableParams.$params,length,tableParams.data.length)}}
	</div><br />

<table ng-table="tableParams" class="table sample" cellspacing="0" cellpadding="0">
	<tr ng-repeat="row in $data track by $index" ng-class="{ 'emphasis': $index%2==0}">
		<td data-title="''" width="5%" class="columnOne">
			<a ng-if="row.editable" href="#/editSample?sampleId={{row.sampleId}}">Edit</a>
			<a ng-if="!row.editable"href="#/sample?sampleId={{row.sampleId}}">View</a>

		</td>
		<td data-title="'Sample Name'" sortable="'sampleName'" width="17%">
		 {{row.sampleName}}
		</td>
		<td data-title="'Primary Point of Contact'" sortable="'pointOfContact'" ng-bind-html="row.pointOfContact" width="20%">

		</td>                     
		<td data-title="'Composition'" sortable="'composition'" width="17%">
		 <div ng-repeat="item in row.composition track by $index">{{item}}</div>
		</td>            
		<td data-title="'Functions'" sortable="'functions'" width="15%">
		 <div ng-repeat="item in row.functions track by $index">{{item}}</div>
		</td>            
		<td data-title="'Characterizations'" sortable="'characterizations'" width="14%">
		 <div ng-repeat="item in row.characterizations track by $index">{{item}}</div>
		</td>            
		<td data-title="'Data Availability'" sortable="'dataAvailability'" width="20%">
		 <a href="" ng-click="openDataAvailability(row.sampleId)">{{row.dataAvailability}}</a>
		</td>            
		<td data-title="'Created Date'" sortable="'createdDate'" width="5%">
		 {{row.createdDate | date:'shortDate'}}
		</td>            
	</tr>
</table> 

</div>