<div class="nanoPageContainer" ng-class="{formFocus:loader}">
<div class="spacer">
<form novalidate>
<table class="contentTitle" width="100%" border="0" summary="layout">
    <tbody>
    <tr>
        <th scope="col" align="left" ng-if="funcEntityId!=null && funcEntityId!=''">
            {{sampleName}} Sample Composition - Functionalizing Entity - {{funcEntityForm.type}}
        </th>

        <th scope="col" align="left" ng-if="funcEntityId==null || funcEntityId==''">
            {{sampleName}} Sample Composition - Functionalizing Entity
        </th>

        <td align="right" width="30%">
            <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/4+-+Managing+Sample+Composition+Annotations#id-4-ManagingSampleCompositionAnnotations-AddingFunctionalizingEntityCompositionAnnotations')">Help</a>
            &nbsp;
            <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
            <span style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:red;align-content: center;">
                <ul>
                    <li ng-repeat="message in messages">
                        {{message}}
                    </li>
                </ul>
            </span>
<table width="100%" align="center" class="submissionView" summary="layout">
    <tr ng-show="funcEntityId == null">
        <td class="cellLabel" width="100">
            <label for="type">Functionalizing Entity Type *</label>
        </td>
        <td>
            <div id="categoryPrompt">
                <select ng-disabled="loader" id="type" ng-model="funcEntityForm.type" ng-click="showProperties();">
                    <option ng-repeat="option in funcEntityTypes" value="{{option}}" ng-selected="{{option==funcEntityForm.type}}">
                        {{option}}
                    </option>
                    <option value="other">
                        [other]
                    </option>
                </select>
                <div id="promptCategory" ng-if="funcEntityForm.type=='other'">
                    <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                        <tbody>
                        <tr>
                            <td class="cellLabel">
                                <label for="textCategory" category="">New Functionalizing Entity Type:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="textCategory" ng-model='localForm.otherCategoryText' class="promptbox">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <input type="button" class="promptButton" value="Add" ng-click="funcEntityForm.type=localForm.otherCategoryText; funcEntityTypes.push(localForm.otherCategoryText);">
                                <input type="button" class="promptButton" value="Cancel" ng-click="funcEntityForm.type='';">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="feChemicalName">Chemical Name*</label>
        </td>
        <td colspan="4">
            <input type="text" ng-model="funcEntityForm.name" size="70" value="Magnevist" id="feChemicalName">
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="pubChemDataSource">PubChem DataSource</label>
        </td>
        <td>
            <div id="pubChemDataSourcePrompt">
                <select ng-model="funcEntityForm.pubChemDataSourceName" id="pubChemDataSource">
                    <option value="">
                    <option ng-repeat="dataSource in pubChemDataSources track by $index" value="{{dataSource}}" ng-selected="{{dataSource == funcEntityForm.pubChemDataSourceName}}">
                        {{dataSource}}
                    </option>
                </select>
            </div>
        </td>
        <td class="cellLabel">
            <label for="pubChemId">PubChem Id</label>
        </td>
        <td>
            <input type="text" ng-model="funcEntityForm.pubChemId" size="30" value="" onkeydown="return filterInteger(event)" id="pubChemId">
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="amountValue">Amount</label>
        </td>
        <td>
            <input type="text" ng-model="funcEntityForm.value" value="" id="amountValue">

        </td>
        <td class="cellLabel">
            <label for="feUnit">Amount Unit</label>
        </td>
        <td>
            <div id="feUnitPrompt">
                <select ng-model="funcEntityForm.valueUnit" id="feUnit">
                    <option value=""></option>
                    <option ng-repeat="unit in functionalizingEntityUnits track by $index" value="{{unit}}" ng-selected="{{unit == funcEntityForm.valueUnit}}">
                        {{unit}}
                    </option>

                    <option value="other">
                        [other]
                    </option>
                </select>
                <div ng-if="funcEntityForm.valueUnit=='other'">
                    <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                        <tbody>
                        <tr>
                            <td class="cellLabel">
                                <label for="textFile" category="">New Amount Unit:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="textFile" ng-model='localForm.otherCategoryText' class="promptbox">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <input type="button" class="promptButton" value="Add" ng-click="funcEntityForm.valueUnit=localForm.otherCategoryText; functionalizingEntityUnits.push(localForm.otherCategoryText);">
                                <input type="button" class="promptButton" value="Cancel" ng-click="funcEntityForm.valueUnit='';">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="mfType">Molecular Formula Type</label>
        </td>
        <td>
            <div id="mfTypePrompt">
                <select ng-model="funcEntityForm.molecularFormulaType" id="mfType">
                    <option value=""></option>
                    <option ng-repeat="type in molecularFormulaTypes track by $index" value="{{type}}" ng-selected="{{type == funcEntityForm.molecularFormulaType}}">
                        {{type}}
                    </option>

                    <option value="other">
                        [other]
                    </option>
                 </select>
                <div ng-if="funcEntityForm.molecularFormulaType=='other'">
                    <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                        <tbody>
                        <tr>
                            <td class="cellLabel">
                                <label for="textFile" category="">New Molecular Formula Type:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="textFile" ng-model='localForm.otherCategoryText' class="promptbox">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <input type="button" class="promptButton" value="Add" ng-click="funcEntityForm.molecularFormulaType=localForm.otherCategoryText; molecularFormulaTypes.push(localForm.otherCategoryText);">
                                <input type="button" class="promptButton" value="Cancel" ng-click="funcEntityForm.molecularFormulaType='';">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                 
            </div>
            &nbsp;
        </td>
        <td class="cellLabel">
            <label for="molecularFormula">Molecular Formula</label>
        </td>
        <td>
            <textarea ng-model="funcEntityForm.molecularFormula" cols="80" rows="2" id="molecularFormula"></textarea>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="feaMethod">Activation Method</label>
        </td>
        <td>
            <div id="feaMethodPrompt">
                <select ng-model="funcEntityForm.activationMethodType" id="feaMethod">
                    <option value=""></option>
                    <option ng-repeat="aMethod in activationMethods track by $index" value="{{aMethod}}" ng-selected="{{aMethod == funcEntityForm.activationMethodType}}">
                        {{aMethod}}
                    </option>

                    <option value="other">
                        [other]
                    </option>
                 </select>
                <div ng-if="funcEntityForm.activationMethodType=='other'">
                    <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                        <tbody>
                        <tr>
                            <td class="cellLabel">
                                <label for="textFile" category="">New Activation Method:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="textFile" ng-model='localForm.otherCategoryText' class="promptbox">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <input type="button" class="promptButton" value="Add" ng-click="funcEntityForm.activationMethodType=localForm.otherCategoryText; activationMethods.push(localForm.otherCategoryText);">
                                <input type="button" class="promptButton" value="Cancel" ng-click="funcEntityForm.activationMethodType='';">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td class="cellLabel">
            <label for="activationEffect">Activation Effect</label>
        </td>
        <td>
            <input type="text" ng-model="funcEntityForm.activationEffect" size="70" value="" id="activationEffect">
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="description">Description</label>
        </td>
        <td colspan="3">
            <textarea ng-model="funcEntityForm.description" cols="80" rows="2" id="description"></textarea>
        </td>
    </tr>
</table>
<br>
            <span ng-if="withProperties">
                 <ng-include src="detailsPage"></ng-include>
            </span>
<br />
<ng-include src="'/caNanoLab/views/sample/composition/functionalizingentity/manageFunctions.html'"></ng-include>
<br />
<ng-include src="'/caNanoLab/views/sample/composition/manageFileEdit.html'"></ng-include>
<br />

<table width="100%" align="center" class="submissionView">
    <tbody>
    <tr ng-if="otherSampleNames != null">
        <td width="5%">
            <strong><label for="otherSamples">Copy to other samples with the same primary organization?</label></strong>
        </td>
        <td width="20%">
            <select ng-disabled="loader" id="otherSamples" ng-model="localForm.otherSampleNames" multiple="true" size="10">
                <option ng-repeat="option in otherSampleNames" value="{{option}}" ng-selected="{{option == localForm.otherSampleNames}}">
                    {{option}}
                </option>
            </select>
        </td>
    </tr>

    <tr ng-if="otherSampleNames == null">
        <td colspan="3">
            There are no other samples to copy annotation to.
        </td>
    </tr>
    </tbody>
</table>
<br />
<table width="100%" class="invisibleTable" summary="layout">
    <tbody><tr>
        <td align="left" width="600">
            <input type="button" value="Delete" ng-click="doDelete()" ng-if="funcEntityId != null">
        </td>
        <td align="right" width="300">
           	<input type="hidden" ng-model="funcEntityForm.createdBy">
           	<input type="hidden" ng-model="funcEntityForm.createdDate">
            <input type="reset" value="Reset" ng-click="resetForm()">
            <input type="submit" value="Submit" ng-click="doSubmit()" ng-if="funcEntityId == null" ng-show="!addNewInherentFunction">
            <input type="submit" value="Update" ng-click="doSubmit()" ng-if="funcEntityId != null" ng-show="!addNewInherentFunction">
        </td>
    </tr>
    </tbody>
</table>
</form>
</div>
</div>
<div id="loader" style="top: -600px; " ng-show="loader">
    <div id="loaderText">
        Loading
    </div>
    <div id="loaderGraphic"></div>
</div>