<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Manage Protocols
       </th>
        <td align="right" width="30%">
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/2+-+Managing+Protocols+in+caNanoLab#id-2-ManagingProtocolsincaNanoLab-ProtocolsOverview')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
<br />
This is the manage protocols section. A protocol is a predefined procedural method used in the design and implementation of assays. For example, a protocol could describe the steps a laboratory used for characterizing nanomaterials. In this section, depending on your authorization level, you may submit a new protocol, or search for an existing protocol.
<div><br />
	<table summary="layout" cellpadding="0" cellspacing="0" border="0"
	width="40%" height="100%" class="sidebarSection">
	<tr>
		<th class="sidebarTitle" scope="col" align="left">PROTOCOL LINKS</th>
	</tr>
	
		
	<tr ng-if="tabs.userLoggedIn">
		<td class="sidebarContent"><a href="#/submitProtocol"> Submit
						a New Protocol </a> <br> Select to submit a new
					protocol.</td>
	</tr>
	<tr><td>&nbsp;</td></tr>			
	<tr>
		<td class="sidebarContent"><a href="#/searchProtocol">Search
				Existing Protocols </a> <br> Enter search
			criteria to obtain information on protocols of interest.</td>
	</tr>
</table> 
</div>	
</div>
