<div class="nanoPageContainer">
<div class="spacer">
<!-- Menu Bar -->{{sampleResultData}}
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
            <th align="left" scope="col"><!-- {{sampleData}} -->
                {{updateButton}} Sample
            </th>
            <td align="right" width="30%">
                <button class="btn back btn-xs" ng-click="goBack()">Back</button>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-UpdatingaSample')">Help</a>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            </td>
        </tr>
    </table>
<!-- <div style="font-size:10px">{{master}}</div><br /><br />

<div style="font-size:10px">{{scratchPad}}</div> -->
<!-- Message Area -->
<div class="backButtonNote">* Please use the back button located above. The browser back button will not function properly.</div>
<div class="message">{{message}}</div>
<br>

<div ng-if="sampleData.message">
    <div class="message">{{sampleData.message}}</div>
    <br>    
</div>


<div ng-if="sampleData.errors">
    <div class="message" ng-repeat="e in sampleData.errors track by $index">
        {{e}}
    </div>
        <br>    
</div>
<!-- Application  -->
<div ng-show="editSampleForm">
    <form name="sampleForm" id="sampleForm">

        <table  width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <!-- Sample Name -->
                <tr>
                    <td class="cellLabel" width="20%">
                        <label for="sampleName">Sample Name *</label>
                    </td>
                    <td>
                        <input id="sampleName" ng-model="sampleData.sampleName" ng-change="changedSampleName()" type="text"  size="80">
                        <span ng-hide="true">{{$root.sampleId}}</span>
                    </td>
                </tr>
                <!-- Point of Contact -->
                <tr>
                    <td class="cellLabel">
                        Point of Contact *
                    </td>
                    <td>
                            <button ng-disabled="!sampleData.sampleName" ng-click="openPointOfContactModal(sampleId.data, {},'add')" class="btn btn-primary btn-xxs">Add</button>
                    </td>
                </tr>
                <!-- Point of Contact Data -->
                <tr>
                    <td colspan="2">
                        <table class="editTableWithGrid" width="95%" align="center">
                            <tbody>
                                <tr>
                                    <th>
                                        Primary Contact?
                                    </th>
                                    <th>
                                        Contact Person
                                    </th>
                                    <th>
                                        Organization
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th></th>
                                </tr>

                                <tr ng-repeat="poc in sampleData.pointOfContacts track by $index">
                                    <td>{{returnUserReadableBoolean(poc.primaryContact)}}</td>
                                    <td>
                                        {{poc.contactPerson}}
                                        <span ng-show='poc.contactPerson==""'>{{poc.firstName}} {{poc.lastName}}</span>
                                    </td>
                                    <td>
                                        <div ng-bind-html="poc.organization.name"></div>
                                        <div ng-bind-html="poc.address.line1"></div>
                                        <div ng-bind-html="poc.address.line2"></div>
                                        {{poc.address.city}}<span ng-show="poc.address.city">,</span> {{poc.address.stateProvince}} {{poc.address.zip}} {{poc.address.country}}
                                    </td>
                                    <td>
                                        {{poc.role}}
                                    </td>
                                    <td>
                                        <div align="right">
                                           
                                            <button ng-click="openPointOfContactModal(sampleId.data, poc)" class="btn btn-primary btn-xxs">Edit</button>
                                            

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr> <!-- End of Point of Contact -->

                <!-- Keywords -->
                <tr ng-show="sampleData.pointOfContacts && sampleData.errors.length==0">
                    <td class="cellLabel">{{sampleService.pocData.dirty}}
                        <label for="keywords">Keywords</label>
                    </td>
                    <td>
                        <div class="keywords-container">
                            <ul id="keywords" class="keywords">
                                <li ng-repeat="keyword in sampleData.keywords track by $index">
                                    <span>{{keyword}}</span>
                                    <a  ng-click="removeKeyword(keyword)"  title="Remove keyword" href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
                                </li>
                            </ul>
                        </div>

                        <input id="newKeyword" type="text" ng-model="newKeyword">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addKeyword()">Add</button>
                   </td>
                </tr>

				<tr ng-show="sampleData.pointOfContacts && sampleData.errors.length==0"">
                    <td colspan="5">
                        <table>
                            <ng-include src="'/caNanoLab/views/manageAccessibility.html'"></ng-include>
                        </table>
                    </td>
                </tr>

                <tr ng-show="updateButton=='Update'">


                            <td class="cellLabel">
                            Data Availability Metrics
                            </td>

                        <td>
                            <button ng-if="!sampleData.dataAvailability" ng-click="generateDataAvailability(sampleId.data)" class="btn btn-primary btn-xxs">Generate</button>
                            <div id="loader" class="sample offset" style="left:100px;top:-15px;" ng-show="generateLoader">
                                <div id="loaderText">
                                    Generating Data Availability Metrics
                                </div>
                                <div id="loaderGraphic"></div>
                            </div>

                        </td>
                    </tr>
                    <tr ng-show="sampleData.dataAvailability && sampleData.pointOfContacts">
                        <td colspan="2">
                            <table class="editTableWithGrid" width="95%" align="center">
                                <tbody><tr>
                                    <th scope="row">
                                        caNanoLab Availability Score
                                    </th>
                                    <th scope="row">
                                        MINChar Availability Score
                                    </th>
                                    <th scope="row"></th>
                                </tr>
                                <tr><td>{{sampleData.dataAvailability.caNanoLabScore}}</td>
                                    <td>{{sampleData.dataAvailability.mincharScore}}</td>
                                    <td>
                                            <button ng-click="openDataAvailability(sampleId.data)" class="btn btn-primary btn-xxs">Edit</button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>

        <div class="editSampleButtonBar">
            <div class="btn-group pull-left" ng-if="sampleId.data">
                <button ng-click="delete()" class='btn btn-danger'>Delete</button>
                <button ng-click="copy()" class='btn btn-default'>Copy</button>
            </div>
            <div class="btn-group pull-right">
                <button ng-click="reset()" class='btn btn-default' ng-disabled="!scratchPad.editSampleData.dirty">Reset</button>
                <button ng-click="submitForReview()" ng-if="updateButton=='Update' && sampleData.showReviewButton && submitForReviewButton" class='btn btn-primary'>Submit for Review</button> 
                <button ng-click="update()" ng-if="updateButton=='Update'" class='btn btn-primary' ng-disabled="!scratchPad.editSampleData.dirty || !sampleData.pointOfContacts">{{updateButton}}</button>
              
                <button ng-click="submitSample()" ng-if="updateButton=='Submit'" class='btn btn-primary' ng-disabled="!scratchPad.editSampleData.dirty || !sampleData.pointOfContacts">{{updateButton}}</button>                
            </div>
        </div>

        <br>
    </form>


</div>
<div id="loader" class="sample offset" ng-show="loader">
    <div id="loaderText">
        {{loaderText}}
    </div>
    <div id="loaderGraphic"></div>
</div>

</div>

</div>
