<div class="nanoPageContainer">
<div class="spacer">
<!-- Menu Bar -->
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
            <th align="left" scope="col"><!-- {{sampleData}} -->
                Update Sample
            </th>
            <td align="right" width="30%">
                <button class="btn back btn-xs" ng-click="goBack()">Back</button>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-UpdatingaSample')">Help</a>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            </td>
        </tr>
    </table>
</div>

<!-- Message Area -->
<div class="backButtonNote">* Please use the back button located above. The browser back button will not function properly.</div>
<br>
<div class="message">{{message}}</div>
<br>
<!--
<h2>sampleId{{sampleData.sampleId}}</h2>
<h2>sampleData.pointOfContacts[0].contactPerson {{sampleData.pointOfContacts[0].contactPerson}}</h2>
<h2>sampleData.pointOfContacts[1].contactPerson {{sampleData.pointOfContacts[1].contactPerson}}</h2>
<h2>sampleData.pointOfContacts[0].organizationName {{sampleData.pointOfContacts[0].organizationName}}</h2>

<h2>sampleData.pointOfContacts {{sampleData.pointOfContacts}}</h2>
<div ng-repeat="item in sampleData.pointOfContacts">
    Header {{ item.id }}
</div>
-->
    <br>

<!-- Application  -->
<div ng-show="editSampleForm">
    <form name="sampleForm" id="sampleForm">

        <table  width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <!-- Sample Name -->
                <tr>
                    <td class="cellLabel" width="20%">
                        <label for="sampleName">Sample Name *</label>
                    </td>
                    <td>
                        <input id="sampleName" ng-model="sampleData.sampleName" ng-change="changedSampleName()" type="text"  size="80">
                        <span ng-hide="true">{{$root.sampleId}}</span>
                    </td>
                </tr>
                <!-- Point of Contact -->
                <tr>
                    <td class="cellLabel">
                        Point of Contact *
                    </td>
                    <td>
                            <button ng-click="openPointOfContactModal(sampleId.data, {})" class="btn btn-primary btn-xxs">Add</button>
                    </td>
                </tr>
                <!-- Point of Contact Data -->
                <tr>
                    <td colspan="2">
                        <table class="editTableWithGrid" width="95%" align="center">
                            <tbody>
                                <tr>
                                    <th>
                                        Primary Contact?
                                    </th>
                                    <th>
                                        Contact Person
                                    </th>
                                    <th>
                                        Organization
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th></th>
                                </tr>

                                <tr ng-repeat="poc in sampleData.pointOfContacts">
                                    <td>{{returnUserReadableBoolean(poc.primaryContact)}}</td>
                                    <td>
                                        {{poc.contactPerson}}
                                        <span ng-show='poc.contactPerson==""'>{{poc.firstName}} {{poc.lastName}}</span>
                                    </td>
                                    <td>
                                        <div ng-bind-html="poc.organization.name"></div>
                                        <div ng-bind-html="poc.address.line1"></div>
                                        <div ng-bind-html="poc.address.line2"></div>
                                        {{poc.address.city}}<span ng-show="poc.address.city">,</span> {{poc.address.stateProvince}} {{poc.address.zip}} {{poc.address.country}}
                                    </td>
                                    <td>
                                        {{poc.role}}
                                    </td>
                                    <td>
                                        <div align="right">
                                            <button ng-click="openPointOfContactModal(sampleId.data, poc)" class="btn btn-primary btn-xxs">Edit</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr> <!-- End of Point of Contact -->

                <!-- Keywords -->
                <tr>
                    <td class="cellLabel">
                        <label for="keywords">Keywords</label>
                    </td>
                    <td>
                        <!-- Old way
                        <ul id="keywords" class="list-group keywords" >
                            <li class="list-group-item" ng-repeat="keyword in sampleData.keywords track by $index" ng-click="removeKeyword(keyword)"  ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" title="Remove keyword">
                               {{keyword}}
                            </li>
                        </ul>
                        -->
                        <div class="keywords-container">
                            <ul id="keywords" class="keywords">
                                <li ng-repeat="keyword in sampleData.keywords track by $index">
                                    <span>{{keyword}}</span>
                                    <a  ng-click="removeKeyword(keyword)"  title="Remove keyword" href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
                                </li>
                            </ul>
                        </div>

                        <input id="newKeyword" type="text" ng-model="newKeyword">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addKeyword()">Add</button>
                   </td>
                </tr>
            <tr>
                <td class="cellLabel" width="15%" id="addAccessLabel">
                    Access to the Sample
                </td>
                <td>
                    <button ng-click="openDataAvailability()" class="btn btn-primary btn-xxs">Add</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="editTableWithGrid" width="95%" align="center">
                        <tbody>
                            <tr>
                                <th width="40%" scope="col">
                                    Group Name
                                </th>
                                <th width="55%" scope="col">
                                    Access
                                </th>
                                <th></th>
                            </tr>

                            <tr valign="top" ng-repeat="ats in sampleData.accessToSample.groupAccesses">
                                <td>
                                    <span>{{ats.groupName}}</span>
                                </td>
                                <td>
                                    <span>{{ats.roleDisplayName}}</span>
                                </td>
                                <td>
                                    <div align="right">
                                        <span ng-hide='ats.roleDisplayName=="read update delete"'>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="2">


                </td>
            </tr>
            <tr>
                <td colspan="2">


                    <div style="display: none;" id="newAccess">
                        <table class="subSubmissionView" width="85%" align="center" summary="layout">
                            <tbody><tr>
                                <th colspan="4">
                                    Access Information
                                </th>
                            </tr>
                            <tr>
                                <td class="cellLabel" width="25%">
                                    Access by *
                                </td>
                                <td colspan="3">
                                    <input type="radio" name="sampleBean.theAccess.accessBy" value="group" checked="checked" onclick="displayAccessNameLabel();" id="byGroup">
                                    <label for="byGroup">Collaboration Group</label>
                                    <input type="radio" name="sampleBean.theAccess.accessBy" value="user" onclick="displayAccessNameLabel();" id="byUser">
                                    <label for="byUser">User&nbsp;&nbsp;</label>

                                        <input type="radio" name="sampleBean.theAccess.accessBy" value="public" onclick="displayAccessNameLabel();" id="byPublic">
                                    <label for="byPublic">Public</label>

                                </td>
                            </tr>
                            <tr>

                                <td class="cellLabel" id="accessNameLabel">Collaboration Group Name *</td>
                                <td><label for="groupName" style="display:none">Group Name</label>
                                    <input type="text" name="sampleBean.theAccess.groupName" value="" id="groupName">
                                    <label for="userName" style="display:none">Login Name</label>
                                    <input type="text" name="sampleBean.theAccess.userBean.loginName" value="" id="userName" style="display: none;">
                                </td>
                                <td>
                                    <a href="#userNameField" id="browseIcon" onclick="javascript:showMatchedGroupOrUserDropdown('lijowskim:COPY')"><img src="images/icon_browse.jpg" align="middle" alt="search existing collaboration groups" border="0"></a>
                                </td>
                                <td width="50%">
                                    <table class="invisibleTable">
                                        <tbody><tr>
                                            <td>
                                                <img src="images/ajax-loader.gif" border="0" class="counts" id="loaderImg" style="display: none" alt="collaboration groups or user login names">
                                            </td>
                                            <td>
                                                <label for="matchedUserNameSelect" style="display:none" id="userNameSelectLabel">Select a user</label>
                                                <select name="sampleBean.theAccess.userBean.loginName" size="10" onclick="updateUserLoginName()" id="matchedUserNameSelect" style="display: none"></select>
                                                <label for="matchedGroupNameSelect" style="display:none">Select a group</label>
                                                <select name="sampleBean.theAccess.groupName" size="10" onclick="updateGroupName()" id="matchedGroupNameSelect" style="display: none"></select>
                                            </td>
                                            <td>
                                                <a id="cancelBrowse" style="display: none" href="javascript:cancelBrowseSelect();">Cancel</a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td class="cellLabel" width="10%">
                                    Access to the <label for="roleName">Sample *</label>
                                </td>
                                <td colspan="2">
                                    <select name="sampleBean.theAccess.roleName" id="roleName"><option></option>
                                        <option value="R">read</option>
        <option value="CURD">read update delete</option></select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input id="deleteAccess" type="button" value="Remove" onclick="javascript:deleteTheAccess('sampleForm', 'sample', 4);" style="display: none;">
                                </td>
                                <td align="right" colspan="3">
                                    <div align="right">
                                        <input type="hidden" name="sampleBean.theAccess.roleName" value="" id="hiddenRoleName">
                                        <input type="hidden" name="sampleBean.theAccess.groupName" value="" id="hiddenGroupName">
                                        <input type="button" value="Save" onclick="javascript:addAccess('sampleForm', 'sample', 4, true);">
                                        <input type="button" value="Cancel" onclick="javascript:clearAccess('sampleForm', 'Sample');closeSubmissionForm('Access');">
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>


                <tr>


                            <td class="cellLabel">
                            Data Availability Metrics
                            </td>

                        <td>
                            <button ng-click="openDataAvailability(sampleId.data)" class="btn btn-primary btn-xxs">Generate</button>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="editTableWithGrid" width="95%" align="center">
                                <tbody><tr>
                                    <th scope="row">
                                        caNanoLab Availability Score
                                    </th>
                                    <th scope="row">
                                        MINChar Availability Score
                                    </th>
                                    <th scope="row"></th>
                                </tr>
                                <tr><td>{{sampleData.dataAvailability.caNanoLabScore}}</td>
                                    <td>{{sampleData.dataAvailability.mincharScore}}</td>
                                    <td>
                                            <button ng-click="openDataAvailability(sampleId.data)" class="btn btn-primary btn-xxs">Edit</button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>

        <div class="editSampleButtonBar">
            <div class="btn-group pull-left">
                <button ng-click="" class='btn btn-danger'>Delete</button>
                <button ng-click="" class='btn btn-default'>Copy</button>
            </div>
            <div class="btn-group pull-right">
                <button ng-click="reset()" class='btn btn-default' ng-disabled="!scratchPad.editSampleData.dirty">Reset</button>
                <button ng-click="update()" class='btn btn-primary' ng-disabled="!scratchPad.editSampleData.dirty">Update</button>
            </div>
        </div>

        <br>
    </form>
</div>
<div id="loader" class="sample offset" ng-show="loader">
    <div id="loaderText">
        Loading
    </div>
    <div id="loaderGraphic"></div>
</div>
</div>
