<div class="spacer">

    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
        <th align="left" scope="col">
          Sample {{sampleData.data[0].sampleName}} Characterization
        </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>

        <a class="helpText" href="javascript:printPage('composition.do?dispatch=summaryPrint&sampleId=42008576')">Print</a> 
        <a class="helpText" href="/caNanoLab/composition.do?dispatch=summaryExport&sampleId=42008576&type=all">Export</a>         
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
 <div class="backButtonNote">* Please use the back button located above. The browser back button will not function properly.</div>   
 <ul class="liNav">
    <li><a href="#/sample">General Info</a></li>
    <li><a href="#/composition">Composition</a></li>
    <li><a href="#/characterization">Characterization</a></li>
    <li><a href="#/publication">Publication</a></li>
</ul>
</div>
  <tabset justified="true">
    <tab heading="All" ng-click="select(-1)"></tab>
    <tab ng-repeat="item in data" heading="{{item.type}}" ng-click="select({{$index}})"></tab>
  </tabset>
</div>


<table ng-hide="show{{$index}}" class="summaryViewNoTopREMOVE"  width="100%" summary="layout" ng-repeat="type in data">
  <tr class="sample type">
      <th align="left">
        <!-- type -->
            <span class="summaryViewHeading">{{type.type}}</span>
        <!-- type -->
      </th>
  </tr>
  <tr ng-repeat="(key,characterization) in type.charsByAssayType track by $index">
      <td class="characterization">
        <table summary="layout" bgcolor="#F5F5f5" width="100%">
            <tr>
              <td>
                  <table bgcolor="#dbdbdb" width="100%">
                    <tr>
                      <th align="left">
                        <!-- characterization -->
                            {{key}}
                        <!-- characterization -->
                      </th>
                    </tr>
                    <tr bgcolor="#f5f5f5">
                      <td>
                          <div ng-include="'views/assay.html'"></div>
                      </td>
                    </tr>
                  </table>
              </td>
            </tr>
          <tr>
        </table>
      </td>
  </tr>
</table>