<div class="spacer">
<div ng-class="{formFocus:loader}">
<table border="0" class="contentTitle" summary="layout" width="100%">
 <tr>
  <th scope="col" align="left">
    Manage Collaboration Groups
  </th>
   <td align="right" width="30%">
     <a class="helpText" href=
     "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/7+-+Administration+in+caNanoLab#id-7-AdministrationincaNanoLab-ManagingCollaborationGroups')">Help</a>   <a class=
     "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
   </td>
 </tr>
</table><br />

<table class="submissionView" width="100%" align="center">
	<tr>
		<td>test</td>
	</tr>
</table>

</div>
</div>