<div class="spacer">{{data}}
<div ng-class="{formFocus:loader}">
<table border="0" class="contentTitle" summary="layout" width="100%">
 <tr>
  <th scope="col" align="left">
    Manage Collaboration Groups
  </th>
   <td align="right" width="30%">
     <a class="helpText" href=
     "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/7+-+Administration+in+caNanoLab#id-7-AdministrationincaNanoLab-ManagingCollaborationGroups')">Help</a>   <a class=
     "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
   </td>
 </tr>
</table><br />

<table class="submissionView" width="100%" align="center">
	<tbody>
		<tr>
			<td class="cellLabel" colspan="2">
				Existing Collaboration Groups
			</td>
		</tr>
		<tr ng-if="data.length">
			<td colspan="2">
				<table class="editTableWithGrid" align="center" width="95%">
					<tbody>
						<tr>
							<th scope="col">
								Name
							</th>
							<th scope="col" width="33%">
								Description
							</th>
							<th scope="col">
								Owner
							</th>
							<th>
								Users (Access)
							</th>
							<th></th>
						</tr>
						
							<tr valign="top" ng-repeat="item in data track by $index">
								<td>
									{{item.name}}
								</td>
								<td>
									{{item.descriptionDisplayName}}
								</td>
								<td>
									{{item.ownerName}}
								</td>
								<td>
									<div ng-repeat="user in item.userAccesses track by $index">
										{{user.userBean.loginName}} ({{user.roleDisplayName}})
									</div>							
								</td>
								<td>
									<div align="right">
										<button ng-click="editGroupCollaboration(item)">Edit</button>
									
									</div>
								</td>
							</tr>						
					</tbody>
				</table>
			</td>
		</tr>

		<tr ng-show="editCollaborationGroup">
			<td colspan="2">{{groupBean}}<br /><br />{{groupBeanCopy}}
				<table class="subSubmissionView" summary="layout" align="center" width="85%">
					<tbody>
						<tr>	
							<th colspan="2">
							Collaboration Group Information
							</th>
						</tr>
						<tr>
							<td class="cellLabel" width="15%">
								<label for="groupName">Name*</label>
							</td>
							<td>
								<input name="name" size="30" value="" id="groupName" type="text" ng-model="groupBean.name">
							</td>
						</tr>	
						<tr>
							<td class="cellLabel" width="15%">
								<label for="groupDescription">Description</label>
							</td>
							<td>
								<textarea name="description" ng-model="groupBean.description" cols="70" rows="5" id="groupDescription"></textarea>
							</td>
						</tr>	

						<tr>
							<td class="cellLabel" id="userLabel" width="15%">
								User
							</td>
							<td>
								<div id="userSection">
									<a style="display:block" id="addUser" href="" ng-click="openUserInfo()">Add</a>
									<br>

									<br>
									<table id="userTable" class="editTableWithGrid" style="display: block;" width="95%">
										<tbody id="userRows"><tr id="patternHeader">
												<td class="cellLabel" scope="col" width="40%">
													Login Name
												</td>
												<td class="cellLabel" scope="col">
													Access to the Group
												</td>
												<td>
												</td>
											</tr>
											<tr ng-repeat="access in groupBean.userAccesses" style="">
												<td>
													{{access.userBean.loginName}}
												</td>
												<td>
													{{access.roleDisplayName}}
												</td>
												<td>
													<button ng-click="openUserInfo(access)">Edit</button>
												</td>
											</tr></tbody>
									</table>
								</div>
							</td>
						</tr>													
						<tr ng-show="userInfo">
							<td colspan="2">
								<div id="newUser" style="display: block;">
									<table class="promptbox" summary="layout" border="10" width="100%" align="center">
										<tbody><tr>
											<td class="cellLabel" width="30%">
												<label for="loginName">User Login Name*</label>
											</td>
											<td width="30%">
												<input name="loginName" value="" id="loginName" ng-model="userInfoBean.userBean.loginName" type="text">
											</td>
											<td>
												<button style="width:140px" ng-click="searchLoginName()">Search For User</button>
											</td>
											<td>
												<table class="invisibleTable" summary="layout">
													<tbody><tr>
														<td>
															<img src="images/ajax-loader.gif" class="counts" id="loaderImg" style="display: none;" alt="load existing users" border="0">
														</td>
														<td><label for="matchedUserNameSelect">&nbsp;</label>
														<select name="group.theAccess.userBean.loginName" size="10" onclick="updateUserLoginName()" id="matchedUserNameSelect" style="display: block;"><option value="cristr">Crist, Rachael</option></select>
														</td>
													</tr>
												</tbody></table>
											</td>
													</tr>
													<tr>
														<td class="cellLabel">
															<label for="roleName">Access to the Group*</label>
														</td>
														<td colspan="3">
																<select name="group.theAccess.roleDisplayName" onchange="" id="roleName"><option></option>
																<option value="R">read</option>
								<option value="CURD">read update delete</option></select>
														</td>
													</tr>
													<tr>
														<td>
															<button ng-click="removeUserInfo(access)" >Remove</button>
														</td>
														<td colspan="3" align="right">
															<div align="right">

																<button style="float:right" ng-click="cancelUserInfo(access)">Cancel</button>
																<button ng-click="saveUserInfo(access)" style="float:right">Save</button>															</div>
														</td>
													</tr>
												</tbody></table>
											</div>								
							</td>
						</tr>
						<tr ng-hide="userInfo">
							<td>
								<button ng-hide="hideRemoveGroupButton" ng-click="removeGroupCollaboration(item)">Remove</button>
							<td>
								<button style="float:right" ng-click="cancelGroupCollaboration(item)">Cancel</button>
								<button style="float:right" ng-click="submit(item)">Submit</button>
							</td>
						</tr>			
					</tbody>	
				</table>		
			</td>
		</tr>


		<tr ng-hide="editCollaborationGroup">
			<td class="cellLabel" width="20%">New Collaboration Group</td>
			<td width="80%"><button ng-click="addGroupCollaboration()">Add</button>
		</tr>
	</tbody>
</table>
<!-- 
<table>
	<tr>
		<td>
			 <table align="left" class="summaryViewNoGrid" summary="layout" width="100%">
			 	<tr><td>
	<div ng-repeat="item in data track by $index">{{item}}<br /><br />
<!-- 		<div ng-repeat="user in item.userAccesses">
			{{user}}<br /><br /><br />
		</div>
	</div> -->

</div>
</div>