<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
        <th align="left" scope="col">
          Sample {{sampleData.data[0].sampleName}} Composition
        </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>          
        <a class="helpText" href="javascript:printPage('composition.do?dispatch=summaryPrint&sampleId=42008576')">Print</a> 
        <a class="helpText" href="/caNanoLab/composition.do?dispatch=summaryExport&sampleId=42008576&type=all">Export</a>         
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
	<br /><ul class="liNav">
    <li><a href="#/sample">General Info</a></li>
    <li><a href="#/composition">Composition</a></li>
    <li><a href="#/characterization">Characterization</a></li>
    <li><a href="#/publication">Publication</a></li>
</ul> <br /> 
{{sampleId.data}}
</div>