<div class="spacer">
  <table class="contentTitle" summary="layout" border="0" width="100%" ng-init="tabs=getTabs()">
   <tbody>
     <tr>
       <th scope="col" align="left">
         WELCOME TO caNanoLab
       </th>
       <td align="right" width="30%">
         <a class="helpText" href=
         "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/1+-+Getting+Started+in+caNanoLab#id-1-GettingStartedincaNanoLab-WelcometothecaNanoLabHomePage')">Help</a>  
         <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
       </td>
     </tr>
   </tbody>
 </table><br />
 <div class="welcomeContent">
   Welcome to the <strong>cancer Nanotechnology Laboratory (caNanoLab)</strong> portal. caNanoLab is a data sharing portal designed to facilitate information sharing across the international
   biomedical nanotechnology research community to expedite and validate the use of nanotechnology in biomedicine. caNanoLab allows researchers to share information on nanomaterials by normalizing
   the format of publication-quality data, including details often unavailable in the published form, and centralizing its storage. These data include the composition of the nanomaterial, its
   functions (e.g. therapeutic, targeting, diagnostic imaging), its characterizations from physico-chemical (e.g. size, molecular weight, surface), in vitro (e.g. cytotoxicity, blood contact) and
   in vivo (e.g. animal toxicity and efficacy) nanomaterial assays, and the protocols of these assays.<br />
   <br />
   The diagram below illustrates the caNanoLab functionality and workflow. "Active links" are provided that allows a user to directly navigate to the appropriate function based on the
   authorization level of the user. In particular, the Sample Submission workflow allows direct launching points to develop caNanoLab data files from a user's inputs. Navigation is also available
   through the menus above. {{groups2}}
 </div><br />
 <br />

 <img id="funcMap" src="images/Home_Page_Workflow.png" border="0" width="750" height="520" usemap="#funcMap" alt="rectangle" />
<map class="ng-scope" name="funcMap" id="funcMap">
 <area href="#/login" alt="login" shape="rect" coords="65,176,206,238" />
<!--  <area href="#/submitProtocol" alt="submit protocols" shape="rect" coords="294,72,435,134" />
 <area href="#/submitSample" alt="submit samples" shape="rect" coords="291,165,435,244" />
 <area href="#/submitPublication" alt="submit publications" shape="rect" coords="291,277,435,333" /> -->
 <area href="" alt="submit general information" shape="rect" coords="518,94,662,153" />
 <area href="" alt="submit composition" shape="rect" coords="519,174,663,233" />
 <area href="" alt="submit characterizations" shape="rect" coords="516,251,662,311" />
 <area href="#/searchProtocol" alt="search protocols" shape="rect" coords="177,379,326,467" />
 <area href="#/searchSample" alt="search samples" shape="rect" coords="346,379,494,465" />
 <area href="#/searchPublication" alt="search publications" shape="rect" coords="512,380,660,466" />
</map>
<!-- 
 <map name="funcMap" id="funcMap">
   <area href="welcome.do" shape="rect" coords="60,105,156,143" alt="rectangle" />
   <area href="searchProtocol.do?dispatch=setup" shape="rect" coords="60,259,156,297" alt="rectangle" />
   <area href="searchSample.do?dispatch=setup" shape="rect" coords="60,311,156,363" alt="rectangle" />
   <area href="searchPublication.do?dispatch=setup" shape="rect" coords="60,375,156,413" alt="rectangle" />
   <area href="protocol.do?dispatch=setupNew&amp;page=0" shape="rect" coords="272,36,368,74" alt="rectangle" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="272,88,368,141" alt="rectangle" />
   <area href="publication.do?dispatch=setupNew&amp;page=0" shape="rect" coords="332,412,428,450" alt="rectangle" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="332,152,428,189" alt="rectangle" class="" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="332,333,428,371" alt="rectangle" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="459,245,554,305" alt="rectangle" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="459,368,554,409" alt="rectangle" />
   <area href="sample.do?dispatch=setupNew&amp;page=0" shape="rect" coords="459,449,554,490" alt="rectangle" />
 </map> <img src="images/Home_Page_Workflow.png" alt="caNanoLab flowchart" usemap="#funcMap" border="0" align="middle" /><br /> -->
</div>