  <div ng-class="{formFocus:loader}">
<a name="content" id="content"></a>
<div>
  <input type="hidden" name="org.apache.struts.taglib.html.TOKEN" value="a20425137da163fb429407eb7995284a" />
</div>
<table summary="layout" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td valign="top" class="mainContentHomePage">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="images/bannerhome1.jpg" border="0"  alt="caNanoLab banner image" /></td>
          <td><img ng-mouseover="displayCredit('banner1',1)" ng-mouseleave="displayCredit('banner1',0)" src="images/bannerhome2.jpg" style="border-left:2px solid #fff;" alt="caNanoLab banner image" /></td>
          <td><img ng-mouseover="displayCredit('banner2',1)" ng-mouseleave="displayCredit('banner2',0)" src="images/bannerhome3.jpg" style="border-left:2px solid #fff;" alt="caNanoLab banner image" /></td>
        </tr>
      </table>        
   <div id="banner1" ng-show="banner1"><div>Credit: R. J. Wilson, Ph.D.; C. M. Earhart, Ph.D.; and S. X. Wang, Ph.D.</div></div>
      <div id="banner2" ng-show="banner2"><div>Credit: Brenda Melendez and Rita Serda, Ph.D.</div></div>
      <div class="welcomeTitle">
        Welcome to caNanoLab
      </div><br />
      <div class="welcomeContent">
        Welcome to the cancer Nanotechnology Laboratory (caNanoLab) portal. caNanoLab is a data sharing portal designed to facilitate information sharing across the international biomedical
        nanotechnology research community to expedite and validate the use of nanotechnology in biomedicine. caNanoLab provides support for the annotation of nanomaterials with characterizations
        resulting from physico-chemical, <i>in vitro</i> and <i>in vivo</i> assays and the sharing of these characterizations and associated nanotechnology protocols in a secure fashion.
      </div><br />
      <br />
      <div class="welcomeTitle">
        Browse caNanoLab
      </div><br />
      <table class="gridtableHomePage">
        <tr>
          <td class="dataTypeHomePage" style="font-weight:bold">
            Data Type
          </td>
          <td id="results"  style="font-weight:bold">
            Public Results
          </td>
        </tr>
        <tr align="left">
          <td>
            <table class="gridtableNoBorder" summary="layout">
              <tr>
                <td rowspan="2">
                  <a href="#/searchProtocol"><img src="images/icon_protocol_48x.jpg" class="imgNoBorder" alt="Search Protocols" /></a>
                </td>
                <td>
                  <a href="#/searchProtocol">Search Protocols</a>
                </td>
              </tr>
              <tr>
                <td>
                  Search for nanotechnology protocols leveraged in performing nanomaterial characterization assays.
                </td>
              </tr>
            </table>
          </td>
          <td>
            <span class="counts" id="protocolCount"><a href="" ng-click="doSearch('protocols')">{{numOfPublicProtocols}}</a></span>
          </td>
        </tr>
        <tr class="alt">
          <td>
            <table class="gridtableNoBorder" summary="layout">
              <tr>
                <td rowspan="2">
                  <a href="#/searchSample"><img src="images/icon_nanoparticle_48x.jpg" class="imgNoBorder" alt="Search Samples" /></a>
                </td>
                <td>
                  <a href="#/searchSample">Search Samples</a>
                </td>
              </tr>
              <tr>
                <td>
                  Search for information on nanomaterials including the composition of the nanomaterial, results of physico-chemical, <i>in vitro</i>, <i>in vivo</i> and other characterizations,
                  and associated publications. <br />
                  See also <a href="#/advancedSampleSearch">Advanced Sample Search</a>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <div id="sampleCounts" class="counts">
              <span id="sampleCount"><a href="" ng-click="doSearch('samples')">{{numOfPublicSamples}}</a></span><br />
              <div id="sampleRelatedCounts" class="indented1">
                <span id="sampleSourceCount">{{numOfPublicSources}} Sample Sources</span><br />
                <span id="CharacterizationCount">{{numOfPublicCharacterizations}} Characterizations</span><br />
                <div class="indented2">
                  <span id="PhysicoChemicalCharacterizationCount">{{numOfPublicPhysicoChemicalCharacterizations}} Physico-chemical</span><br />
                  <span id="InvitroCharacterizationCount">{{numOfPublicInvitroCharacterizations}} In Vitro</span><br />
                  <span id="InvivoCharacterizationCount">{{numOfPublicInvivoCharacterizations}} In Vivo</span><br />
                  <span id="OtherCharacterizationCount">{{numOfPublicOtherCharacterizations}} Other</span><br />
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table class="gridtableNoBorder" summary="layout">
              <tr>
                <td rowspan="2">
                  <a href="#/searchPublication"><img src="images/icon_report_48x.gif" class="imgNoBorder" alt="Search Publications" /></a>
                </td>
                <td>
                  <a href="#/searchPublication">Search Publications</a>
                </td>
              </tr>
              <tr>
                <td>
                  Search for information on nanotechnology publications including peer reviewed articles, reviews, and other types of reports related to the use of nanotechnology in biomedicine.
                </td>
              </tr>
            </table>
          </td>
          <td>
            <span id="publicationCount" class="counts"><a href="" ng-click="doSearch('publications')">{{numOfPublicPublications}}</a></span>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top" class="rightSideBar">
      <!-- right sidebar begins -->
      <table summary="layout" cellpadding="0" cellspacing="0" border="0" class="sidebarSectionNoTop">
        <!-- login begins -->
        <tr ng-show="loginShow">
          <td class="sidebarTitle">
          USER ACTIONS<!-- <a href="#" class="loginText">Login</a> &nbsp; <a href="#"
               class="loginText" onClick="javascript:location.href='register.jsp';">Register</a>&nbsp;&nbsp;
               <a class="loginText"href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/1+-+Getting+Started+in+caNanoLab#id-1-GettingStartedincaNanoLab-LoggingintocaNanoLab')">Help</a> -->
             </td>
           </tr>
           <tr ng-show="loginShow">
            <td class="sidebarContent">
              <br />
              <b>No account is required to browse publicly available data.</b>
            </td>
          </tr>
          <tr>
            <td>
              <div id="loginBlock" ng-show="loginShow">
                <div class="spacer"></div><!-- <form name="loginForm" id="loginForm" method="post" action="/caNanoLab/login.do;jsessionid=9944D3BC5DD5C7F3DB8EC210CC50424C"> -->
                <form autocomplete="off">
                <table class="loginBlock" summary="layout">
                  <tr>
                    <td>
                      <label for="login ID">LOGIN ID</label>
                    </td>
                    <td>
                      <input type="text" name="loginId" ng-model="loginId" size="14" id="login ID" ng-init="loginId=''" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="password">PASSWORD</label>
                    </td>
                    <td>
                      <input type="password" name="password" size="14" id="password" autocomplete="off" ng-model="password" ng-init="password=''" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
                     
                    </td>
                    <td align="left">

                      <input type="submit" value="Login" ng-click="loginDo()" />
                      
                    </td>
                  </tr>
                </table></form>
                <div id="authErrors" ng-model="authErrors" ng-show="authErrors">
                  {{authErrors}}
                </div>
              </div><br />              
            </td>
          </tr>
          <tr>
            <td class="sidebarTitle">
              FEATURES
            </td>
          </tr>
          <tr>
            <td class="sidebarContent">
              <!-- <br /> -->
              <b>caNanoLab provides access to information on:</b>
              <ul>
                <li>Nanotechnology Protocols
                </li>
                <li>Nanomaterial Composition
                </li>
                <li>Nanomaterial Characterizations (physic-chemical, in vitro, in vivo)
                </li>
                <li>Nanomaterial Publications
                </li>
              </ul><b>For additional information, see the caNanoLab <a href="https://wiki.nci.nih.gov/x/UKml" target="_blank">FAQ</a> or <a href="https://wiki.nci.nih.gov/x/14CUBg" target="_blank">Online Help</a>
              <br/>
              </b>
            </td>
          </tr>
          <tr>
            <td class="sidebarTitle">
              HOW TO
            </td>
          </tr>
          <tr>
            <td class="sidebarContent">
              <a id="faq" name="faq"></a>
              <ul>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Getting+Started+in+caNanoLab#GettingStartedincaNanoLab-Registering', 'caNanoLabFAQ', '800', '800')">How do I obtain a new caNanoLab Login ID and Password?</a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Getting+Started+in+caNanoLab#GettingStartedincaNanoLab-Resetting', 'caNanoLabFAQ', '800', '800')">How do I reset my current caNanoLab password?</a>
                  </li>
                  <li>
                  <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+FAQ#caNanoLabFAQ-Submitting', 'caNanoLabFAQ', '800', '800')">How do I save data to caNanoLab?</a>
                  </li>                  
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Protocols+in+caNanoLab#ManagingProtocolsincaNanoLab-SearchProtocols', 'caNanoProtocols', '800', '800')">How do I find nanotechnology protocols?</a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Publications+in+caNanoLab#ManagingPublicationsincaNanoLab-SearchPublications', 'caNanoPublications', '800', '800')">How do I find nanotechnology publications?</a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Composition+Annotations#ManagingSampleCompositionAnnotations-CompositionCompositionOverview', 'caNanoSearch', '800', '800')">How can I search for nanomaterials, composition annotations, and characterizations? </a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Characterizations#ManagingSampleCharacterizations-Characterization', 'caNanoAddCharacterizations', '800', '800')">How can I add nanomaterial characterizations? </a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+FAQ#caNanoLabFAQ-Definitions', 'caNanoLabFAQ', '800', '800')">Where can I get definitions for nanotechnology concepts?</a>
                  </li>
                  <li>
                    <a href="#" onclick="openWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+FAQ#caNanoLabFAQ-DataSharing', 'caNanoLabFAQ', '800', '800')">How do I incorporate caNanoLab into a data sharing plan?</a>
                  </li>                  
               </ul>
              </td>
              </tr>
              <tr>
                <td class="sidebarTitle">
                  WHAT'S NEW
                </td>
              </tr>
              <tr>
                <td class="sidebarContent">
                  <!-- <br /> -->
                  <b>caNanoLab 2.3 is now available for</b> <a target="_blank" href="https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Wiki+Home+Page">download</a><b>. For information on caNanoLab
                  release, please refer to the</b> <a target="_blank" href="https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Release+Notes">caNanoLab Release Notes</a>.
                </td>
              </tr>
              <tr>
                <td class="sidebarTitle">KEEPING UP WITH caNanoLab</td>
              </tr>
              <tr>
                <td class="sidebarContent last">
                	<br/>
                	<ul>
                		<li>Stay connected and provide feedback through the <a target="+blank" href="https://nciphub.org/groups/cananolab_usability ">caNanoLab User Forum</a>.</li>
                		<li><a target="_blank" href="https://wiki.nci.nih.gov/pages/viewpage.action?pageId=328995057">What’s New in caNanoLab?</a></li>
                	</ul>  
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>   
</div>  

  <div id="loader" ng-show="loader">
    <div id="loaderText">
      Loading
    </div>
    <div id="loaderGraphic"></div>
  </div> 
