<tr>
    <td colspan="2">
        <div id="newAccess" ng-if="$parent.addAccess">
            <table class="subSubmissionView" width="85%" align="center" summary="layout">
                <tr>
                    <th colspan="4">
                        Add Roles to the User
                    </th>
                </tr>
                <tr>
                    <td class="cellLabel" width="25%">
                        Role
                    </td>
                    <td colspan="3">
                        <input type="checkbox" ng-model="roleForm.theRole.roleType" value="public" checked="checked" ng-click="selectPublicRole();" id="byPublic">
                        <label for="byPublic">Public&nbsp;&nbsp;</label>
                        <input type="checkbox" ng-model="roleForm.theRole.roleType" value="curator" ng-click="selectCuratorRole();" id="byCurator">
                        <label for="byCurator">Curator&nbsp;&nbsp;</label>
                        <input type="checkbox" ng-model="roleForm.theRole.roleType" value="admin" ng-click="selectAdminRole();" id="byAdmin">
                        <label for="byAdmin">Admin</label>
                    </td>
                </tr>
                <tr>
                    <td><input id="deleteRole" type="button" value="Remove"
                               ng-click="removeRoleSection()"
                               ng-if="roleExists == true">
                    </td>
                    <td align="right" colspan="3">
                        <div align="right">
                            <input type="button" value="Save" ng-click="saveRoleSection();" />
                            <input type="button" value="Cancel" ng-click="hideRoleSection();" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>