<html>

<script src="../bower_components/angular/angular.js"></script>

<body ng-app="publicationApp">
    <div ng-controller="PrintSamplePublicationCtrl">
<table>
    <tbody>
    <tr>
        <th scope="col" align="left">
            Sample {{SampleName}} Publication
        </th>
    </tr>
    </tbody>
</table>
<br />
<div class="shadetabs" id="summaryTabALL">
    <ul>
        <li class="selected">
            <a
                    ng-href="javascript:showSummary('ALL', {{publicationCategories.length}})"
                    title="All"><span>All</span> </a>
            <a ng-href="${exportUrl}&type=all" id="exportUrlAll"
               style="display: none;"></a>

        </li>
        <li ng-repeat="type in publicationCategories">
                <a
                        ng-href="javascript:showSummary('{{$index}}', {{publicationCategories.length}})"
                        title="{{type}}"><span>{{type}}</span> </a>
                <a ng-href="javascript:printPage('${printUrl}&type={{type}}')"
                   id="printUrl${{$index}}" style="display: none;"></a>
                <a ng-href="${exportUrl}&type={{type}}" id="exportUrl{{$index}}"
                   style="display: none;"></a>
        </li>
    </ul>
</div>
<table class="summaryViewNoTop" width="100%" summary="layout" ng-repeat="type in publicationCategories">
    <tr>
        <td>
                <table id="summarySection${{$index}}" class="summaryViewNoGrid"
                       align="center" width="99%">
                    <tr>
                        <th align="left" scope="col">
                            <a name="{{type}}" class="anchorLink"><span
                                    class="summaryViewHeading">{{type}}</span> </a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <table width="99%" align="center" class="summaryViewNoGrid" ng-style="{'background-color':'#dbdbdb'}"
                                   summary="layout">
                                <tr>
                                    <th valign="top" align="left" height="6">
                                    </th>
                                </tr>
                                <tr  ng-repeat="pubBean in category2Publications[type]" ng-init="pubObj = pubBean.domainFile">
                                    <td>
                                            <table class="summaryViewNoGrid" width="99%" align="center" ng-style="{'background-color':'#F5F5f5'}">

                                                <tr>
                                                    <th scope="row" class="cellLabel" width="10%">
                                                        Bibliography Info
                                                    </th>
                                                    <td ng-bind-html="pubBean.displayName">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                    <tr ng-if="pubObj.researchAreas != null">
                                                        <th scope="row" class="cellLabel" width="10%">
                                                            Research Category
                                                        </th>
                                                        <td colspan="2">
                                                            {{pubObj.researchAreas}}
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="pubObj.description != ''">
                                                        <th scope="row" class="cellLabel" width="10%">
                                                            Description
                                                        </th>
                                                        <td>
                                                            {{pubBean.description}}
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="pubBean.keywordsStr != ''">
                                                        <th scope="row" class="cellLabel" width="10%">
                                                            Keywords
                                                        </th>
                                                        <td ng-bind-html="pubBean.keywordsDisplayName">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                <tr>
                                                    <th scope="row" class="cellLabel" width="10%">
                                                        Publication Status
                                                    </th>
                                                    <td>
                                                        {{pubBean.status}}
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                            <br ng-if="$index < category2Publications.length"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th valign="top" align="left" height="6">
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div id="summarySeparator{{$index}}">
                    <br />
                </div>
        </td>
    </tr>
</table>
<script src="../scripts/controllers/printPublication.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
</div>
</body>
</html>