<html>
<head>
      <link rel="stylesheet" href="../styles/bootstrap.css">
      
      <link rel="stylesheet" href="../styles/main.css">
      <link rel="stylesheet" href="../css/summaryView.css">
      <script src="../bower_components/angular/angular.js"></script>
</head>  
<body ng-app="angularApp">
<div ng-controller="PrintCompositionCtrl">
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!nanomaterialentityEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include
                    page="nanomaterialEntity/bodyNanomaterialEntitySummaryView.jsp">
                <jsp:param name="sampleId" value="{{sampleId}}" />
                <jsp:param name="index" value="{{index}}" />
            </jsp:include> -->

            <ng-include src="'sample/composition/nanomaterialEntity/nanoMaterialEntitySummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!functionalizingentityEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include
                    page="nanomaterialEntity/bodyNanomaterialEntitySummaryView.jsp">
                <jsp:param name="sampleId" value="{{sampleId}}" />
                <jsp:param name="index" value="{{index}}" />
            </jsp:include> -->
            <ng-include src="'sample/composition/functionalizingentity/functionalizingEntitySummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!chemicalassociationEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include page="bodyChemicalAssociationSummaryView.jsp">
                <jsp:param name="sampleId" value="${param.sampleId}" />
                <jsp:param name="index" value="${index}" />
            </jsp:include> -->

            <ng-include src="'sample/composition/ChemicalAssociationSummaryView.html'"></ng-include>

        </td>
    </tr>
</table>
<table class="summaryViewNoTop" width="100%" summary="layout">
    <!-- <c:set scope='request' var='index' value='0'/> -->
    <tr ng-if="!compositionfileEmpty">
        <td>
            <!-- <c:set scope='request' var='index' value='${index + 1}'/>
            <jsp:include page="bodyCompositionFileSummaryView.jsp">
                <jsp:param name="sampleId" value="${param.sampleId}" />
                <jsp:param name="index" value="${index}" />
            </jsp:include>  -->

            <ng-include src="'sample/composition/compositionFile.html'"></ng-include>

        </td>
    </tr>
</table>
</div>

<script src="../scripts/controllers/printComposition.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../scripts/factories/utils.js"></script>


  <div id="loader" class="sample offset" ng-show="loader">
    <div id="loaderText">
      Loading
    </div>
    <div id="loaderGraphic"></div>
  </div>
</div>

</body>
</html>