<div class="spacer">
  <div ng-class="{formFocus:loader}">
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
            <th align="left" scope="col">Sample Search</th>

            <td align="right" width="30%">
                <a class="helpText" href=
                "advancedSampleSearch.do?dispatch=setup">Advanced Search</a>
                &nbsp; <a class="helpText" href=
                "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">
                Help</a> &nbsp; <a class="helpText" href=
                "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">
                Glossary</a> &nbsp;
            </td>
        </tr>
    </table><br>

    <table align="center" class="submissionView" summary="layout" width="100%">
        <tr>
            <td class="cellLabel" width="110"><label for=
            "keywords">Keywords</label></td>

            <td>
            <textarea ng-disabled="loader" cols="60" id="keywords" name="text" ng-model="searchSampleForm.text" rows="3">
</textarea><br>
            <em>searching characterization keywords, publication keywords and
            text in characterization descriptions</em><br>
            <em>enter one keyword per line</em></td>
        </tr>
    </table><br>

    <table align="center" class="submissionView" summary="layout" width="100%">
        <tr>
            <td>
                <table class="invisibleTable" summary="layout">
                    <tr>
                        <td class="cellLabel" width="100"><label for=
                        "sampleName">Sample Name</label></td>

                        <td><label for="nameOperand" style="display:none">name
                        operand</label> <select ng-disabled="loader" ng-init="searchSampleForm.nameOperand='contains'" id="nameOperand" ng-model="searchSampleForm.nameOperand" name=
                        "nameOperand">
                            <option value="contains">
                                contains
                            </option>

                            <option value="equals">
                                equals
                            </option>
                        </select></td>

                        <td><input ng-disabled="loader" id="sampleName" name="sampleName" ng-model="searchSampleForm.sampleName" size="60"
                        type="text" value=""></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="rowSpacer"><td>&nbsp;</td></tr>
        <tr>
            <td>
                <table class="invisibleTable" summary="layout">
                    <tr>
                        <td class="cellLabel" width="100"><label for=
                        "samplePOC">Sample Point of Contact</label></td>

                        <td><label for="pocOperand" style="display:none">POC
                        Operand</label> <select ng-disabled="loader" id="pocOperand" name=
                        "pocOperand" ng-init="searchSampleForm.pocOperand='contains'" ng-model="searchSampleForm.pocOperand">
                            <option value="contains">
                                contains
                            </option>

                            <option value="equals">
                                equals
                            </option>
                        </select></td>

                        <td><input ng-disabled="loader" id="samplePOC" name="samplePointOfContact"
                        size="60" type="text" value="" ng-model="searchSampleForm.samplePointOfContact"><br>
                        <em>searching organization name or person
                        name</em></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="rowSpacer"><td>&nbsp;</td></tr>

        <tr>
            <td>
                <table class="invisibleTable" summary="layout">
                    <tr>
                        <td class="cellLabel" width="100"><label for=
                        "nanomaterialEntityTypes">Nanomaterial
                        Entity</label></td>

                        <td><select ng-disabled="loader" id="nanomaterialEntityTypes" multiple=
                        "multiple" name="nanomaterialEntityTypes" size="4" ng-model="searchSampleForm.nanomaterialEntityTypes">
                            <option ng-repeat="option in nanomaterialEntityTypesList" value="{{option}}">
                                {{option}}
                            </option>
                        </select></td>

                        <td class="cellLabel"><label for=
                        "functionalizingEntityTypes">Functionalizing
                        Entity</label></td>

                        <td><select ng-disabled="loader" id="functionalizingEntityTypes" multiple=
                        "multiple" name="functionalizingEntityTypes" size="3" ng-model="searchSampleForm.functionalizingEntityTypes">
                            <option ng-repeat="option in functionalizingEntityTypesList" value="{{option}}">
                                {{option}}
                            </option>
                        </select></td>

                        <td class="cellLabel"><label for=
                        "functionTypes">Function</label></td>

                        <td><select ng-disabled="loader" id="functionTypes" multiple="multiple"
                        name="functionTypes" size="3" ng-model="searchSampleForm.functionTypes">
                            <option ng-repeat="option in functionTypesList" value="{{option}}">
                                {{option}}
                            </option>
                        </select></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="rowSpacer"><td>&nbsp;</td></tr>

        <tr>
            <td>
                <table class="invisibleTable">
                    <tr>
                        <td class="cellLabel" width="100"><label for=
                        "charType">Characterization Type</label> <label for=
                        "characterizationType" style="display:none">hidden char
                        type</label> <input ng-disabled="loader" id="characterizationType" name=
                        "characterizationType" type="hidden" value=""></td>

                        <td>
                            <select ng-disabled="loader" id="charType" ng-model="searchSampleForm.characterizationType" name="characterizationType" ng-change="setCharacterizationOptionsByCharType()">
                            <option ng-repeat="option in characterizationTypesList" value="{{option}}">
                                {{option}}
                            </option>
                        </select></td>

                        <td class="cellLabel"><label for=
                        "charName">Characterization</label></td>

                        <td colspan="3"><select ng-disabled="loader" id="charName" multiple=
                        "multiple" name="characterizations" size="4" ng-model="searchSampleForm.characterizations">
                        <option ng-repeat="option in characterizationsList" value="{{option}}">
                            {{option}}
                        </option>
                    </select></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><br /><br />
  </div>
    <table class="invisibleTable" summary="layout" width="100%">
        <tr>
            <td align="center"><span class="formMessage"><em>Searching without
            any parameters returns all samples.</em></span></td>
        </tr>

        <tr>
            <td align="right"><input ng-disabled="loader" type="reset" value="Reset" ng-click="resetForm()"> &nbsp; <input ng-disabled="loader" type="submit" value=
            "Search" ng-click="doSearch()" ng-keypress="myFunc($event)"> <input ng-disabled="loader" name="dispatch" type="hidden" value="search">
            <input ng-disabled="loader" name="page" type="hidden" value="1"></td>
        </tr>
    </table><div ng-if="message">{{message}}</div>
  <div id="loader" ng-show="loader">
    <div id="loaderText">
      Loading
    </div>
    <div id="loaderGraphic"></div>
  </div>
</div> 