<div class="spacer">
 <table class="contentTitle" summary="layout" border="0" width="100%">
   <tbody>
     <tr>
       <th scope="col" align="left">
         Sample Search Results
       </th>
       <td align="right" width="30%">
         <a class="helpText" href="/caNanoLab/#/searchSample">Back</a>   <a class="helpText" href=
         "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SampleSearchResults')">Help</a>   <a class=
         "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
       </td>
     </tr>
   </tbody>
 </table><br />
 <div class="gridStyle" ng-grid="gridOptions"></div>
</div>