<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
        <th align="left" scope="col">
          Sample {{sampleData.sampleName}}
        </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back</button>
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
 <div class="backButtonNote">* Please use the back button located above. The browser back button will not function properly.</div>   


<ul class="liNav">
    <li><a href="#/sample">General Info</a></li>
    <li><a href="#/composition">Composition</a></li>
    <li><a href="#/characterization">Characterization</a></li>
    <li><a href="#/publication">Publication</a></li>
</ul>
 <table align="left" class="summaryViewNoGrid" summary="layout" width="100%">
   <tr>
     <td>
       <table align="left" class="summaryViewNoGrid" width="99%">
         <tr>
           <th class="cellLabel" scope="row" width="20%">
             Sample Name
           </th>
           <td>
             {{sampleData.sampleName}}
           </td>
         </tr>
         <tr>
           <th class="cellLabel" scope="row" width="20%">
             Created Date
           </th>
           <td>{{sampleData.createdDate | date:'shortDate'}}

           </td>
         </tr>
         <tr>
           <th class="cellLabel" scope="row">
             Keywords
           </th>
           <td>
             <div ng-bind-html="sampleData.keywords" />
           </td>
         </tr>
         <tr>
           <th class="cellLabel" scope="row">
             Point of Contact
           </th>
           <td>
             <table align="left" class="invisibleTable">
               <tr>
                 <th class="cellLabel" scope="col">
                   Primary Contact?
                 </th>
                 <th class="cellLabel" scope="col">
                   Contact Person
                 </th>
                 <th class="cellLabel" scope="col">
                   Organization
                 </th>
                 <th class="cellLabel" scope="col">
                   Role
                 </th>
               </tr>
               <tr>
                 <td>
                   {{sampleData.pointOfContactInfo.primaryContact}}
                 </td>
                 <td>
                   {{sampleData.pointOfContactInfo.contactPerson}}
                 </td>
                 <td>
                   {{sampleData.pointOfContactInfo.organizationDisplayName}}
                 </td>
                 <td>
                   {{sampleData.pointOfContactInfo.role}}
                 </td>
               </tr>
               <tr>
                 <td>
                   {{sampleData.otherPOCBeans.personDisplayName}}
                 </td>
                 <td>
                   {{sampleData.otherPOCBeans.organizationDisplayName}}
                 </td>
                 <td>
                   {{sampleData.otherPOCBeans.domain.role}}
                 </td>
               </tr>
             </table>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>


</div>