<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Keyword Search Results
       </th>
      </tr>
    </table>

<br /><div ng-if="keywordData.length>0" ng-init="p=tableParams.$params;
				length=keywordData.length;
				">{{utilsService.resultCount(tableParams.$params,length,tableParams.data.length)}}
	</div>
<div ng-if="keywordData.length==0">No Search Results</div>
<span ng-if="keywordData.length>0"><br />
<table ng-table="tableParams" class="table sample" cellspacing="0" cellpadding="0">
	<tr ng-repeat="row in $data track by $index" ng-class="{ 'emphasis': $index%2==0}">
		<td data-title="'Actions'" width="5%" class="columnOne" ng-init="actions=getLink(row)">	
			<a ng-init="searchType='simple'" href="{{actions.link}}">{{actions.actionType}}</a>
<!-- 			<a ng-if="!row.editable" ng-init="searchType='simple'" href="#/sample?sampleId={{row.sampleId}}">View</a> <br /> -->

		</td>
		<td data-title="'Type'" sortable="'type'">
		 {{row.type}}
		</td>
		<td data-title="'Name'" sortable="'name'">
			{{row.name}}
		</td>    
		<td data-title="'Created Date'" sortable="'createdDate'">
		 {{row.createdDate | date:'shortDate'}}
		</td>  
		<td data-title="'Description'" sortable="'description'">
			{{row.description}}
		</td> 
	</tr>
</table> 
</span>
</div>