<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Keyword Search Results
       </th>
      </tr>
    </table>
<br /><div ng-if="keywordData.length>0" ng-init="p=tableParams.$params;
				length=keywordData.length;
				">{{utilsService.resultCount(tableParams.$params,length,tableParams.data.length)}}
	</div>
<div ng-if="keywordData.length==0">No Search Results</div>
<span ng-if="keywordData.length>0"><br />
<table ng-table="tableParams" class="table sample" cellspacing="0" cellpadding="0">
	<tr ng-repeat="row in $data track by $index" ng-class="{ 'emphasis': $index%2==0}">
		<td data-title="'Actions'" width="5%" class="columnOne" ng-init="actions=getLink(row)">{{loggedIn}}
			<div ng-repeat="a in actions">
				<a ng-init="searchType='simple'" target="{{a.target}}" href="{{a.link}}">{{a.actionType}}</a>
			</div>

            <a ng-if="!row.favoriteAdded" id="href{{row.id}}" href="" ng-click="addToFavorites(row)" ng-if="tabs.userLoggedIn"><i class="fa fa-plus fa-1"></i>&nbsp;Add to Favorites</a>  
            <span ng-if="row.favoriteAdded" style="color:#2276ff;font-weight:bold;">Added to Favorites</span>  
                
		</td>
		<td data-title="'Type'" sortable="'type'">
		 {{row.type}}
		</td>
		<td data-title="'Name'" sortable="'name'">
			{{row.name}}
		</td>    
		<td data-title="'Created Date'" sortable="'createdDate'">
		 {{row.createdDate | date:'shortDate'}}
		</td>  
		<td data-title="'Description'" sortable="'description'">
			<a href="" ng-if="row.type=='publication'" ng-click="openDataAvailability(row.description)">View</a>
			<span ng-if="row.type!='publication'">{{row.description}}</span>
		</td> 
	</tr>
</table> 
</span>
</div>