/*########## BLUE COLOR SCHEME ##########
 #475B82 = darker blue
 #6E81A6 = lighter blue

/*########## GREEN COLOR SCHEME ##########
 #6A8989 = darker green
 #98B7B7 = lighter green

/*########## PURPLE COLOR SCHEME ##########
 #797C9C = darker purple
 #9FA2BA = lighter purple

/*########## TAN COLOR SCHEME ##########
 #706C60 = darker tan
 #B3AE9C = lighter tan

/*########## GRAY COLOR SCHEME ##########
 #838386 = darker gray
 #AAAAAB = lighter gray

/*########## COMMON AMONG ALL COLOR SCHEMES ##########
 #A90101 = red
 #5C5C5C = dark gray
 #CCCCCC = medium gray
 #F4F4F5 = light gray
 #FFFFFF = white
 #000000 = black
*/
body {
	margin: 0;
	padding: 0;
}

/*###############
HDR AND FTR BEGINS
###############*/
.hdrBG { /* for the cell that contains the required cancer.gov header */
	background-color: #a90101; /* constant: red */
}

.subhdrBG { /* for the cell that contains the application header */
	background-color: #6a8989; /* darker */
}

.ftrTable { /* for the table that contains the footer */
	padding-top: 0.4em;
}

/*###############
MENU BEGINS
###############*/
td.mainMenu {
	background-color: #5c5c5c; /* constant: dark gray */
	font-family: arial, helvetica, verdana, sans-serif;
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

td.mainMenuItem { /* for the off state of the main menu (top) cells */
	font-size: 0.7em;
	font-weight: bold;
	background-color: #5c5c5c; /* constant: dark gray */
	padding-left: 1em;
	padding-right: 1em;
}

td.mainMenuItemOver {
	/* for the over state of the main menu (top) cells */
	font-size: 0.7em;
	font-weight: bold;
	background-color: #6a8989; /* darker */
	padding-left: 1em;
	padding-right: 1em;
}

td.footerMenu {
	/* for the basic style of the footer menu (bottom) area */
	background-color: #5c5c5c; /* constant: dark gray */
	font-family: arial, helvetica, verdana, sans-serif;
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
}

td.footerMenuItem {
	/* for the off state of the footer menu (bottom) cells */
	font-size: 0.7em;
	font-weight: bold;
	background-color: #5c5c5c; /* constant: dark gray */
	padding-left: 1em;
	padding-right: 1em;
}

td.footerMenuItemOver {
	/* for the over state of the footer menu (bottom) cells */
	font-size: 0.7em;
	font-weight: bold;
	background-color: #6a8989; /* darker */
	padding-left: 1em;
	padding-right: 1em;
}

td.sideMenu { /* for the basic style of the side-menu area */
	background-color: #98b7b7; /* lighter */
	font-family: arial, helvetica, verdana, sans-serif;
}

td.subMenuPrimaryTitle {
	/* for the title elements of the sub menu (left-side) */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuPrimarySubTitle {
	/* for the subtitle elements of the sub menu (left-side) */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #7a7a7a; /* constant: darker gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #7a7a7a; /* constant: medium gray */
	border-bottom: 1px solid #7a7a7a; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuPrimaryItems {
	/* for the items under the sub-menu title elements */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #ffffff; /* constant: white */
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.3em;
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleFill {
	/* for the off state of the cell for the elements (usually common among pages) below the primary items */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #6A8989; /* darker */
	color: #ffffff; /* constant: white */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuCommentText {
	/* for the off state of the cell for the elements (usually common among pages) below the primary items */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	padding-left: 0.8em;
	background-color: #6A8989; /* darker */
	color: #ffffff; /* constant: white */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitle {
	/* for the off state of the cell for the elements (usually common among pages) below the primary items */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1.5em;
	background-color: #6A8989; /* darker */
	color: #ffffff; /* constant: white */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleOver {
	/* for the over state of the cell for the elements (usually common among pages) below the primary items */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1.5em;
	background-color: #98B7B7; /* lighter */
	color: #ffffff; /* constant: white */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleSelected {
	/* for the over state of the cell for the elements (usually common among pages) below the primary items */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1.5em;
	background-color: #FFFFFF; /* white */
	color: #5C5C5C; /* constant: dark gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #FFFFFF; /* constant: medium gray */
}

td.subMenuFill { /* for the empty cell below the sub-menu items */
	border-right: 1px solid #cccccc; /* constant: medium gray */
	background-color: #6A8989;
}

td.loginMenuFill {
	background-color: #f4f4f5;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

td.subMenuFooter {
	/* for the last row in the submenu left of the footer menu */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.footerVersion { /* for the items under the sub-menu title elements */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.6em;
	background-color: #ffffff; /* constant: white */
	color: #000000; /* constant: black */
}

/*###############
LINKS BEGIN
###############*/
a:link,a:visited,a:active { /* default links */
	color: #333333; /* constant: dark gray */
	text-decoration: underline;
	white-space: nowrap;
}

a:link.helpText,a:visited.helpText,a:active.helpText {
	/* for help link text not affected by any cascading text styles */
	font-weight: normal;
	text-decoration: underline;
}

a:link.loginText,a:visited.loginText,a:active.loginText {
	/* for help link text not affected by any cascading text styles */
	font-family: arial, helvetica, verdana, sans-serif;
	color: #ffffff; /* constant: dark blue */
	text-decoration: underline;
}

a:hover.loginText {
	color: #f4f4f5 /* constant: red */
}

a:hover {
	color: #a90101; /* constant: red */
}

a:hover.helpText {
	color: #a90101; /* constant: red */
}

a:link.subMenuPrimary,a:visited.subMenuPrimary,a:active.subMenuPrimary {
	/* for the text links in the primary submenu */
	color: #5c5c5c; /* constant: dark gray */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.subMenuPrimary {
	color: #a90101; /* constant: red */
}

a:link.subMenuSecondary,a:visited.subMenuSecondary,a:active.subMenuSecondary
	{
	/* for the text links under the secondary submenu (quick links area) */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
	background-color: #98B7B7; /* lighter */
}

a:hover.subMenuSecondary {
	color: #ffffff; /* constant: white */
	background-color: #98B7B7; /* lighter */
}

a:link.mainMenuLink,a:visited.mainMenuLink,a:active.mainMenuLink {
	/* for the text links in the main menu */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.mainMenuLink {
	color: #ffffff; /* constant: white */
}

a:link.footerMenuLink,a:visited.footerMenuLink,a:active.footerMenuLink {
	/* for the text links at the top of the footer */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.footerMenuLink {
	color: #ffffff; /* constant: white */
}

/*###############
FORM BEGINS
###############*/
input.actionButton { /* optional style for form and action buttons */
	border-right: 2px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 2px solid #5c5c5c; /* constant: dark gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-left: 1px solid #cccccc; /* constant: medium gray */
}

input.noBorderButton {
	font-weight: bold;
	font-size: 0.8 em;
	text-decoration: underline;
	border: 0px solid;
	color: #5C5C5C;
	background-color: #FFFFFF;
}

.formMessage { /* for messages above the form */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
}

/*###############
SIDEBAR BEGINS
###############*/
.sidebarSection { /* for the individual sidebar sections */
	font-family: arial, helvetica, verdana, sans-serif;
	background-color: #f4f4f5; /* constant: light gray */
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
	border-width: 1px;
}

.sidebarSectionNoBottom { /* for the individual sidebar sections */
	font-family: arial, helvetica, verdana, sans-serif;
	background-color: #f4f4f5; /* constant: light gray */
	border-collapse: collapse;
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-left: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

/* for the list inside "WHAT'S NEW" on the Welcome Content */
.sidebarSectionNoBottom ul {
	list-style-image: url(../images/diamond_list_item.gif);
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: normal;
	word-wrap: break-word;
	margin: 0.5em 2em 0.5em 2em;
	padding: 0 px;
	/*text-indent: -1em;*/
}

.sidebarSectionNoBottom li {
	padding: 0 0 0.3em 0;
}

.sidebarTitle {
	/* for the subtitle elements of the sub menu (left-side) */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	padding-right: 0.8em;
	background-color: #7a7a7a; /* constant: darker gray */
	color: #ffffff; /* constant: white */
	border: 1px solid #7a7a7a; /* constant: medium gray */
}

.sidebarContent {
	/* for the areas under the sidebar titles and requires text */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	padding: 0.5em;
}

.boldAndUnderlined {
	font-weight: bold;
	text-decoration: underline;
}

/*###############
STANDARD CONTENT BEGINS
###############*/
table.contentPage { /* for overall top style for a content page */
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.7em;
	color: #000000; /* constant: black */
}

h2,.h2 { /* for header of page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	color: #5c5c5c; /* constant: dark gray */
	text-align: center;
}

h3,.h3 { /* for title of page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #5c5c5c; /* constant: dark gray */
	text-align: left;
}

p,.p { /* for paragraphs */ /* padding-left: 1em; */
	
}

.bannerHome { /* for the banner area of the home page */
	background-color: #6a8989;
	border-right: 1px solid #cccccc; /* constant: light gray */
}

.txtHighlight { /* adds emphasis to text */
	color: #a90101;
}

.grayTextHighlight { /* adds emphasis to text */
	color: #5C5C5C;
	font-weight: bold;
}

.welcomeTitle { /* for titles of sections inside the content area */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 1em;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.welcomeContent {
	/* for the area below the title content of the home page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: justify;
}

.contentTitle { /* for title on top of the content area */
	background-color: #cccccc; /* constant: medium gray */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0.2em;
}

.disclaimerTitle { /* for titles of sections inside the content area */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1em;
	color: #000000;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.disclaimerContent {
	/* for the area below the title content of the home page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000;
	line-height: 1.5em;
	padding-top: 1.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	padding-bottom: 1.5em;
	text-align: justify;
}

div.griddiv {
	background-color: #F4F4F5;
	padding: 20px 5px 20px 10px;
}

div.logindiv {
	background-color: #F4F4F5;
	padding: 10px 10px 10px 55px;
}

.pubBrowse {
	color: 4A49A8;
	text-align: left;
	text-indent: 1em;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1.2em;
	margin-bottom: 0;
	padding-left: 1em;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.message {
	padding-left: 50px;
}

.gridtable {
	font-family: arial, helvetica, verdana, sans-serif;
	border-style: solid;
	border-collapse: collapse;
	border-width: 0px;
}

.gridtable th {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	padding: 5px 30px 10px 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
}

.gridtable td {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	padding: 5px 0 5px 5px;
	border-width: 1px;
	border-color: #dedede;
	border-style: solid;
	vertical-align: top;
}

.gridtableNoBorder {
	font-family: arial, helvetica, verdana, sans-serif;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}

.gridtableNoBorder td {
	border-width: 0px;
	font-size: 0.8em;
	border-style: none;
	vertical-align: middle;
	border-style: none;
}

#location {
	margin-bottom: 10px;
	margin-right: 5px;
	padding-right: 3px;
}

#results {
	padding-left: 9px;
	padding-right: 9px;
	margin-left: 0;
	margin-right: 0;
}

.countsLink {
	display: block;
	margin-left: 22px;
	margin-right: auto;
}

img.img { /* for images that need a border */
	border: 1px solid #5c5c5c; /* constant: dark gray */
}

.menuItemText { /* for text in a menu bar */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

.assocEleBlock {
	border: 1px solid #5c5c5c;
	width: 240px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}

.assocEleBlock ul li {
	margin: 10px 10px 10px 10px;
}

#assocEleBlockA {
	float: left;
	margin-left: 15px;
}

#assocEleBlockB {
	float: left;
}

#assocEleLinkBlock {
	float: left;
	width: 120px;
	margin: 50px 0 0 0;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#assocEleLinkReadOnlyBlock {
	float: left;
	width: 120px;
	margin: 20px 0 0 0;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#assocImg {
	margin-bottom: 0.5em;
}

.indented0 {
	padding-left: 3pt;
}

.indented1 {
	padding-left: 6pt;
}

.indented2 {
	padding-left: 9pt;
}

.indented3 {
	padding-left: 15pt;
}

.indented4 {
	padding-left: 18pt;
	padding-right: 18pt;
}

.indented5 {
	padding-top: 5pt;
	padding-bottom: 5pt;
	padding-left: 8pt;
}

.largerText {
	font-size: 1.1em;
	font-weight: bold;
}

.addLink {
	color: #a90101; /* constant: red */
	font-weight: bold;
	font-size: 0.7em;
}

.addLink2 {
	color: #a90101; /* constant: red */
	font-weight: bold;
	font-size: 1em;
}

.removeLink {
	color: #a90101; /* constant: red */
	font-size: 0.8em;
}

.removeLink2 {
	color: #a90101; /* constant: red */
	font-size: 1em;
}

.thumbnail {
	position: relative;
	z-index: 0;
}

.thumbnail:hover {
	background-color: transparent;
	z-index: 50;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: lightyellow;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 0;
	left: 60px;
	/*position where enlarged image should offset horizontally */
}

input,textArea,submit,reset,option,select {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 11px;
}

.submissionView {
	border-width: 1px;
	border-color: #AAAAAB;
	border-style: solid;
	border-collapse: collapse;
	color: #333333;
}

.submissionView caption {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	background-color: #CCCCCC;
	color: #333333;
}

.submissionView th {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.75em;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;
	/*background-color: #5C5C5C;*/
	background: white url(../images/shadeactive.gif) top left repeat-x;
	text-align: left;
}

.submissionView td {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	padding: 3px 3px 3px 3px;
	vertical-align: top;
	text-align: left;
	color: #333333;
}

.subSubmissionView {
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
	background-color: #D3E4DE;
}

.subSubmissionView caption {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	color: #5C5C5C;
}

.subSubmissionView th {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.70em;
	padding: 3px 3px 3px 3px;
	/*	color: #FFFFFF;*/
	font-weight: bold;
	/*background-color: #6a8989;*/
	text-align: left;
}

.subSubmissionView td {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.70em;
	padding: 3px 3px 3px 3px;
	border-width: 0px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	color: #706C60;
}

.cellLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: bold;
	font-size: 0.7em;
	/*text-transform: uppercase;*/
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font: 11px arial, helvetica, verdana, sans-serif;;
	color: #4A49A8;
}

p {
	text-align: center;
	padding: 0 20px;
	margin: 70px 0 0 0;
	line-height: 14px;
}

p.pText {
	margin-top: 40px;
}

ul,ol {
	font-size: 12px;
	line-height: 14px;
}

.invisibleTable {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
}

.invisibleTable td{
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0 15 0 0;
}