/*##########
INSTRUCTIONS
/*##########
#1. comments that start with constant: indicate colors that don     't change among the color schemes
#2. comments with the words lighter or darker indicate the colors that do change depending on the color scheme
#For example using the blue color sheme,darker means use the darker blue and lighter means use the lighter blue
#3. ems are used as the unit of measurement to maintain proportional sizing which is important for      508 compliance

/*########## BLUE COLOR SCHEME ##########
 #475B82 = darker blue
 #6E81A6 = lighter blue

/*########## GREEN COLOR SCHEME ##########
 #6A8989 = darker green
 #98B7B7 = lighter green

/*########## PURPLE COLOR SCHEME ##########
 #797C9C = darker purple
 #9FA2BA = lighter purple

/*########## TAN COLOR SCHEME ##########
 #706C60 = darker tan
 #B3AE9C = lighter tan

/*########## GRAY COLOR SCHEME ##########
 #838386 = darker gray
 #AAAAAB = lighter gray

/*########## COMMON AMONG ALL COLOR SCHEMES ##########
 #A90101 = red
 #5C5C5C = dark gray
 #CCCCCC = medium gray
 #F4F4F5 = light gray
 #FFFFFF = white
 #000000 = black
*/ body {
	margin: 0;
	padding: 0;
}

/*###############
HDR AND FTR BEGINS
###############*/
.hdrBG { /* for the cell that contains the required cancer.gov header */
	background-color: #a90101; /* constant: red */
}

.subhdrBG { /* for the cell that contains the application header */
	background-color: #6a8989; /* darker */
}

.ftrTable { /* for the table that contains the footer */
	padding-top: 0.4em;
}

/*###############
MENU BEGINS
###############*/
td.mainMenu {
	background-color: #5c5c5c; /* constant: dark gray */
	font-family: arial, helvetica, verdana, sans-serif;
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

td.mainMenuItem { /* for the off state of the main menu (top) cells */
	font-size: 0.6em;
	font-weight: bold;
	background-color: #5c5c5c; /* constant: dark gray */
	padding-left: 1em;
	padding-right: 1em;
}

td.mainMenuItemOver { /* for the over state of the main menu (top) cells */
	font-size: 0.6em;
	font-weight: bold;
	background-color: #6a8989; /* darker */
	padding-left: 1em;
	padding-right: 1em;
}

td.footerMenu { /* for the basic style of the footer menu (bottom) area */
	background-color: #5c5c5c; /* constant: dark gray */
	font-family: arial, helvetica, verdana, sans-serif;
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
}

td.footerMenuItem { /* for the off state of the footer menu (bottom) cells */
	font-size: 0.6em;
	font-weight: bold;
	background-color: #5c5c5c; /* constant: dark gray */
	padding-left: 1em;
	padding-right: 1em;
}

td.footerMenuItemOver { /* for the over state of the footer menu (bottom) cells */
	font-size: 0.6em;
	font-weight: bold;
	background-color: #6a8989; /* darker */
	padding-left: 1em;
	padding-right: 1em;
}

td.subMenu { /* for the basic style of the sub-menu area */
	background-color: #98b7b7; /* lighter */
	font-family: arial, helvetica, verdana, sans-serif;
}

td.sideMenu { /* for the basic style of the sub-menu area */
	background-color: #98b7b7; /* lighter */
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 11px;
}

td.subMenuPrimaryTitle { /* for the title elements of the sub menu (left-side) */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuPrimaryItems { /* for the items under the sub-menu title elements */
	font-size: 0.6em;
	background-color: #ffffff; /* constant: white */
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.3em;
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleFill { /* for the off state of the cell for the elements (usually common among pages) below the primary items */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #98b7b7; /* lighter */
	color: #ffffff; /* constant: white */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitle { /* for the off state of the cell for the elements (usually common among pages) below the primary items */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #6A8989; /* darker */
	color: #ffffff; /* constant: white */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleOver { /* for the over state of the cell for the elements (usually common among pages) below the primary items */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #98B7B7; /* lighter */
	color: #ffffff; /* constant: white */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.subMenuSecondaryTitleSelected { /* for the over state of the cell for the elements (usually common among pages) below the primary items */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #FFFFFF; /* white */
	color: #5C5C5C; /* constant: dark gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #FFFFFF; /* constant: medium gray */
}

td.subMenuFill { /* for the empty cell below the sub-menu items */
	border-right: 1px solid #cccccc; /* constant: medium gray */
	background-color: #6A8989;
}

td.loginMenuFill {
	background-color: #f4f4f5;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

td.subMenuFooter { /* for the last row in the submenu left of the footer menu */
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

td.footerVersion { /* for the items under the sub-menu title elements */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.6em;
	background-color: #ffffff; /* constant: white */
	color: #000000; /* constant: black */
}

/*###############
LINKS BEGIN
###############*/
a:link,a:visited,a:active { /* default links */
	color: #333333; /* constant: dark gray */
	text-decoration: underline;
	white-space: nowrap;
}

a:link.helpText,a:visited.helpText,a:active.helpText { /* for help link text not affected by any cascading text styles */
	font-weight: normal;
	text-decoration: underline;
}

a:link.loginText,a:visited.loginText,a:active.loginText { /* for help link text not affected by any cascading text styles */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff; /* constant: dark blue */
	text-decoration: underline;
}

a:hover.loginText {
	color: #f4f4f5 /* constant: red */
}

a:hover {
	color: #a90101; /* constant: red */
}

a:hover.helpText {
	color: #a90101; /* constant: red */
}

a:link.subMenuPrimary,a:visited.subMenuPrimary,a:active.subMenuPrimary { /* for the text links in the primary submenu */
	color: #5c5c5c; /* constant: dark gray */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.subMenuPrimary {
	color: #a90101; /* constant: red */
}

a:link.subMenuSecondary,a:visited.subMenuSecondary,a:active.subMenuSecondary { /* for the text links under the secondary submenu (quick links area) */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
	background-color: #98B7B7; /* lighter */
}

a:hover.subMenuSecondary {
	color: #ffffff; /* constant: white */
	background-color: #98B7B7; /* lighter */
}

a:link.mainMenuLink,a:visited.mainMenuLink,a:active.mainMenuLink { /* for the text links in the main menu */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.mainMenuLink {
	color: #ffffff; /* constant: white */
}

a:link.footerMenuLink,a:visited.footerMenuLink,a:active.footerMenuLink { /* for the text links at the top of the footer */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

a:hover.footerMenuLink {
	color: #ffffff; /* constant: white */
}

a:link.dataPagingLink,a:visited.dataPagingLink,a:active.dataPagingLink { /* for the previous and next links for the paging areas */
	color: #5c5c5c; /* constant: dark gray */
	text-decoration: underline;
	white-space: nowrap;
}

a:hover.dataPagingLink {
	color: #a90101; /* constant: red */
	text-decoration: underline;
}

a:link.register,a:visited.register,a:active.register {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	color: #000000; /* constant: black */
}

/*###############
FORM BEGINS
###############*/
.formRequiredNotice { /* for the asterisk cell */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1em;
	background-color: #f4f4f5; /* constant: light gray */
	color: #000000; /* constant: black */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
}

.formRequiredLabel { /* for the required form labels */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #f4f4f5; /* constant: light gray */
	color: #000000; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	text-align: right;
}

.formLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-right: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-left: 1px solid #5c5c5c;
}

.formTitle { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
}

.subformTitle { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #AAAAAB; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
}

td.formField { /* for the cell that contains the form elements */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #f4f4f5; /* constant: light gray */
}

input.formFieldSized,textarea.formFieldSized,select.formFieldSized { /* for the form elements themselves and with a constant width (on elements) */
	font-family: arial, helvetica, verdana, sans-serif;
	border: 1px solid #5c5c5c; /* constant: dark gray */
	font-size: 1em;
	width: 25em;
}

.loginStatus {
	font-size: .7em;
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	color: white;
}

td.formFieldLogin { /* for the cell that contains the form elements */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
}

input.formField,textarea.formField,select.formField { /* for the form elements themselves (on elements) */
	font-family: arial, helvetica, verdana, sans-serif;
	border: 1px solid #5c5c5c; /* constant: dark gray */
	font-size: 1em;
}

input.formFieldSized,textarea.formFieldSized,select.formFieldSized { /* for the form elements themselves and with a constant width (on elements) */
	font-family: arial, helvetica, verdana, sans-serif;
	border: 1px solid #5c5c5c; /* constant: dark gray */
	font-size: 1em;
	width: 25em;
}

input.actionButton { /* optional style for form and action buttons */
	border-right: 2px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 2px solid #5c5c5c; /* constant: dark gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-left: 1px solid #cccccc; /* constant: medium gray */
}

.formMessage { /* for messages above the form */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
}

.normalForm { /* for a general form in a content page */
	border: 1px solid #5c5c5c; /* constant: dark gray */
}

/*###############
SIDEBAR BEGINS
###############*/
.sidebarSection { /* for the individual sidebar sections */
	background-color: #f4f4f5; /* constant: light gray */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	border: 1px solid #cccccc; /* constant: medium gray */
}

.noBottomSidebarSection { /* for the individual sidebar sections */
	background-color: #f4f4f5; /* constant: light gray */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	border-top: 1px solid #cccccc; /* constant: medium gray */
	border-left: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}



.noTopBottomSidebarSection { /* for the individual sidebar sections */
	background-color: #f4f4f5; /* constant: light gray */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	border-left: 1px solid #cccccc; /* constant: medium gray */
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

.sidebarTitle { /* for the titles of the individual sidebar sections */
	font-size: 1em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #5c5c5c; /* constant: dark gray */
	color: #ffffff; /* constant: white */
}

.sidebarContent { /* for the areas under the sidebar titles and requires text */
	font-size: 1em;
	padding: 0.8em;
}

/* for the list inside "WHAT'S NEW" on the Welcome Content */
.sidebarContent ul {
	list-style-type: disc;
	font-weight: normal;
	padding-left: 1em;
}

.sidebarContent li {
	padding-bottom: 0.5em;
}

.sidebarLogin { /* for the sidebar login cells */
	font-size: 0.7em;
	padding-left: 0.8em;
}

.sidebarContentTop { /* for the areas under the sidebar titles and requires text */
	font-size: 1em;
	padding: 0.8em 0 0 0.8em;
	margin-bottom: 0;
}

.sidebarContentTop ul {
	list-style-type: disc;
	font-weight: normal;
	padding: 0 0 0 2em;
	margin-bottom: 0.3em;
}

.sidebarContentTop li {
	padding-bottom: 0.5em;
}

.sidebarContentBottom { /* for the areas under the sidebar titles and requires text */
	font-size: 1em;
	padding: 0 0 0.8em 0.8em;

}

.sidebarContentBottom ul {
	list-style-type: disc;
	font-weight: normal;
	padding-left: 2em;
}

.sidebarContentBottom li {
	padding-bottom: 0.5em;
}

/*###############
DATA TABLE BEGINS
###############*/
.dataTablePrimaryLabel { /* for the first row */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 1.0em;
	font-weight: bolder;
	background-color: #666666; /* constant: dark gray */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	padding-left: 0.2em;
	text-align: center;
}

.dataTableSecondaryLabel { /* for the optional second row */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bolder;
	background-color: #cccccc; /* constant: medium gray */
	color: #5c5c5c; /* constant: dark gray */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	padding-left: 0.4em;
}

.dataTableHighlightLabel { /* for the highlighted row */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	background-color: #6a8989; /* constant: darker green */
	color: #ffffff; /* constant: white */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	padding-left: 0.4em;
}

.dataTableHeader { /* for the horizontal column headers */
	font-family: arial, helvetica, verdana, sans-serif;
	background-color: #cccccc; /* constant: medium gray */
	color: #000000; /* constant: black */
	font-weight: bold;
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
}

.dataTable { /* for the main table below the labels */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
}

.dataRowLight { /* for the light color of alternating rows */
	background-color: #ffffff; /* constant: white */
	color: #000000; /* constant: black */
}

.dataRowDark { /* for the dark color of alternating rows */
	background-color: #f4f4f5; /* constant: light gray */
	color: #000000; /* constant: black */
}

.dataCellText { /* for text output cells */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	text-align: left;
}

.dataCellNumerical { /* for numerical output cells */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	text-align: right;
}

.dataPagingSection { /* for the cell that contains the paging table */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #f4f4f5; /* constant: light gray */
}

.dataPagingText { /* for the cells that contain the paging text */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	color: #5c5c5c; /* constant: dark gray */
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.actionSection { /* for the cell that contains the action buttons table */ /*border-left:1px solid #5C5C5C; /* constant: dark gray */ /*border-right:1px solid #5C5C5C; /* constant: dark gray */ /*border-bottom:1px solid #5C5C5C; /* constant: dark gray */

}

/*###############
STANDARD CONTENT BEGINS
###############*/
table.contentPage { /* for overall top style for a content page */
	font-family: arial, helvetica, verdana, sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.7em;
	color: #000000; /* constant: black */
}

h2,.h2 { /* for header of page */
	font-size: 1.6em;
	font-weight: bold;
	color: #5c5c5c; /* constant: dark gray */
	text-align: center;
}

.formLabelGrey {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #cccccc;
	color: #666666;
	border-right: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: right;
	border-left: 1px solid #5c5c5c;
	padding-left: 0.2em;
}

.formLabelBoxWhite {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #ffffff;
	color: #000000;
	border-right: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	border-top: 1px solid #5c5c5c;
	text-align: center;
	border-left: 1px solid #5c5c5c;
	padding-left: 0.2em;
}

.formLabelWhite {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #ffffff;
	color: #000000;
	border-right: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-left: 1px solid #5c5c5c;
	padding-left: 0.2em;
}

td.formFieldGrey {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #666666; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #cccccc; /* constant: light gray */
	padding-left: 0.2em;
}

td.formFieldWhite {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #ffffff; /* constant: light gray */
	padding-left: 0.2em;
}

td.leftBorderedFormFieldGrey {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #666666; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #cccccc; /* constant: light gray */
	padding-left: 0.2em;
}

td.leftBorderedFormFieldWhite {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000; /* constant: black */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	background-color: #ffffff; /* constant: light gray */
	padding-left: 0.2em;
}

h3,.h3 { /* for title of page */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #5c5c5c; /* constant: dark gray */
	text-align: left;
}


p,.p { /* for paragraphs */
	/* padding-left: 1em; */
}

.standardText { /* for stand-alone text not affected by any cascading text styles */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #666666; /* constant: black */
}

.bannerHome { /* for the banner area of the home page */
	background-color: #6a8989;
	border-right: 1px solid #cccccc; /* constant: light gray */
}

.txtHighlight { /* adds emphasis to text */
	color: #a90101;
}

.welcomeTitle { /* for titles of sections inside the content area */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1em;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.welcomeContent { /* for the area below the title content of the home page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: justify;
}

.contentTitle { /* for title on top of the content area */
	background-color: #cccccc; /* constant: medium gray */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 1em;
}


.disclaimerTitle { /* for titles of sections inside the content area */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 1em;
	color: #000000;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.disclaimerContent { /* for the area below the title content of the home page */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	color: #000000;
	line-height: 1.5em;
	padding-top: 1.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	padding-bottom: 1.5em;
	text-align: justify;
}

#publicLinks {
	margin: 15px 7px 20px 10px;
}

div.griddiv {
	background-color: #F4F4F5;
	padding: 20px 5px 20px 10px;
}

div.logindiv {
	background-color: #F4F4F5;
	padding: 10px 10px 10px 55px;
}

.pubBrowse {
	color: 4A49A8;
	text-align: left;
	text-indent: 1em;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.2em;
	margin-bottom: 0;
	padding-left: 1em;
	background-color: #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

.message {
	padding-left: 50px;
}

.loginLink {
	margin: 0 0 0 0;
	padding: 5px 10px 5px 0;
}

.gridtable {
	width: 560px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
}

.gridtable th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	padding: 5px 30px 10px 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.gridtable td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	padding: 5px 0 5px 5px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
}

tr.gridTableHeader {
	height: 20px;
	font-size: 0.85em;
	font-weight: normal;
}

.gridtableNoBorder {
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}

.gridtableNoBorder td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	padding: 1px 0 1px 1px;
	border-width: 0px;
	border-style: none;
	vertical-align: middle;
}

#publicLinks, ul { /* for the public links below the welcome content of the home page */

	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0;
	margin-left: 0.5em;
	list-style: none;
}

#publicLinks h5 {
	margin-top: 0.6em;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.3em;
}

#publicLinks h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

#publicLinks p {
	margin: 0.6em 0 1em 0;
	text-align: left;
	font-weight: normal;
	line-height: 1.3em;
}
label.toplabel {
	display: block;
	font-size: 0.9em;
	padding-bottom: 5px;
}

#location {
	margin-bottom: 10px;
	margin-right: 5px;
	padding-right: 3px;
}

#results {
	padding-left: 9px;
	padding-right: 9px;
	margin-left: 0;
	margin-right: 0;
}

.countsLink {
	display: block;
	margin-left: 22px;
    margin-right: auto;
}

#publicLinks img {
	float: left;
	margin: 0;
	padding: 0;
}

img.img { /* for images that need a border */
	border: 1px solid #5c5c5c; /* constant: dark gray */
}

.menuItemText { /* for text in a menu bar */
	color: #ffffff; /* constant: white */
	text-decoration: none;
	white-space: nowrap;
}

.label {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
}

.borderlessLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
}

.whiteBorderlessLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
}

.rightLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-right: 1px solid #5c5c5c;
}

.leftLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-left: 1px solid #5c5c5c;
}

.leftLabelWithTop {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-left: 1px solid #5c5c5c;
}

.labelWithTop {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
}


.rightLabelWithTop {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
	border-right: 1px solid #5c5c5c;
}


.completeLabel {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-bottom: 1px solid #5c5c5c;
	border-left: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
}

.completeLabelNoTopBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-left: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
}

.completeLabelNoTop {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-left: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
}

.completeLabelNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	border-left: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
}

.completeLabelWithTop {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	border-left: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
}
.labelNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
}

.labelNoBottomRightAlign {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: right;
}

.rightLabelNoBottomRightAlign {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: right;
	border-right: 1px solid #5c5c5c;
}

.rightLabelNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
	border-right: 1px solid #5c5c5c;
}

.leftLabelNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
	border-left: 1px solid #5c5c5c;
}


.labelWithTopNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	border-top: 1px solid #5c5c5c;
	text-align: left;
}

.rightLabelWithTopNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
	border-top: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
}

.leftLabelWithTopNoBottom {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	background-color: #f4f4f5;
	color: #000000;
	text-align: left;
	border-top: 1px solid #5c5c5c;
	border-left: 1px solid #5c5c5c;
}

.assocEleBlock {
	border: 1px solid #5c5c5c;
	width: 240px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}

.assocEleBlock ul li {
	margin: 10px 10px 10px 10px;
}

#assocEleBlockA {
	float: left;
	margin-left: 15px;
}

#assocEleBlockB {
	float: left;
}

#assocEleLinkBlock {
	float: left;
	width: 120px;
	margin: 50px 0 0 0;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#assocEleLinkReadOnlyBlock {
	float: left;
	width: 120px;
	margin: 20px 0 0 0;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#assocImg {
	margin-bottom: 0.5em;
}

.indented0 {
	padding-left: 3pt;
}

.indented1 {
	padding-left: 6pt;
}

.indented2 {
	padding-left: 9pt;
}

.indented3 {
	padding-left: 15pt;
}

.indented4 {
	padding-left: 18pt;
	padding-right: 18pt;
}

.indented5 {
	padding-top: 5pt;
	padding-bottom: 5pt;
	padding-left: 8pt;
}

.largerText {
	font-size: 1.1em;
	font-weight: bold;
}

td.secondMenu {
	background-color: #98b7b7; /* constant: dark gray */
	font-family: arial, helvetica, verdana, sans-serif;
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	border-top: 1px solid #cccccc; /* constant: medium gray */
}

td.secondMenuItem { /* for the off state of the main menu (top) cells */
	font-size: 0.55em;
	font-weight: bold;
	background-color: #98b7b7; /* constant: dark gray */
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase;
}

td.secondMenuItemOver { /* for the over state of the main menu (top) cells */
	font-size: 0.55em;
	font-weight: bold;
	background-color: #98b7b7; /* darker */
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase
}


.addLink {
	color: #a90101; /* constant: red */
	font-weight: bold;
	font-size: 0.7em;
}


.addLink2 {
	color: #a90101; /* constant: red */
	font-weight: bold;
	font-size: 1em;
}

.removeLink {
	color: #a90101; /* constant: red */
	font-size: 0.8em;
}

.removeLink2 {
	color: #a90101; /* constant: red */
	font-size: 1em;
}

.formSubTitle { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
}

.formSubTitleWithBottomNoRight { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
}

.formSubTitleWithBottomNoLeft { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-bottom: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
}

.formSubTitleNoRight { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 0.8em;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-left: 1px solid #5c5c5c; /* constant: dark gray */
}

.formSubTitleNoLeft { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding-right: 0.8em;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
	border-top: 1px solid #5c5c5c; /* constant: dark gray */
	border-right: 1px solid #5c5c5c; /* constant: dark gray */
}

.formSubTitleNoBorder { /* for header cells (top) of forms */
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	background-color: #AAAAAB; /* constant: lighter gray */
	color: #000000; /* constant: black */
}

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

.greyFont {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 11px;
	background-color: #f4f4f5;
	color: #5C5C5C;
	text-align: left;
}

.greyFont2 {
	font-family: arial, helvetica, verdana, sans-serif;
	background-color: #f4f4f5;
	color: #5C5C5C;
	text-align: left;
}

input,textArea,submit,reset,option,select{
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 11px;
}

input.noBorderButton {
	font-weight: bold;
	font-size: 1.02em;
	text-decoration: underline;
	border:0px solid;
	#background-color: #f4f4f5;
}

input.noBorderText {
	font-size: 1.02em;
	border:0px solid;
	background-color: #f4f4f5;
}

.summaryViewLayer1 {
	border-collapse: collapse;
	border-color: #cccccc;
	border-style: solid;
	border-top: none;
	border-width: 1px;
	color: #5C5C5C;
}

.summaryViewLayer1 th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 5px 10px 10px 5px;
	border-color: #cccccc;
	color: #5C5C5C;
}

.summaryViewLayer1 td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 5px 10px 10px 5px;
	border-color: #cccccc;
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
}

.summaryViewLayer2 {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
}

.summaryViewLayer2 th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 5px 10px 5px 10px;
	border-style: none;
	border-width: 1px;
	border-color: #cccccc;
	color: #5C5C5C;
}

.summaryViewLayer2 td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	padding: 5px 5px 5px 5px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: none;
	vertical-align: middle;
	color: #5C5C5C;
}

.summaryViewLayer3 {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
}

.summaryViewLayer3 caption {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	font-weight: bold;
	background-color: #CCCCCC;
	color: #5C5C5C;
}

.summaryViewLayer3 th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;
	background-color: #CCCCCC;
}

.summaryViewLayer3 td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 3px 3px 3px 3px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
}

.submissionView {
	border-width: 1px;
	border-color: #AAAAAB;
	border-style: solid;
	border-collapse: collapse;
	color: #333333;
}

.submissionView caption {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	background-color: #CCCCCC;
	color: #333333;
}

.submissionView th {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.75em;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;
	/*background-color: #5C5C5C;*/
	background: white url(../images/shadeactive.gif) top left repeat-x;
	text-align: left;
}

.submissionView td {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 0.7em;
	padding: 3px 3px 3px 3px;
	vertical-align: top;
	text-align: left;
	color: #333333;
}

.subSubmissionView {
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
	background-color: #D3E4DE;
}

.subSubmissionView caption {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	font-weight: bold;
	color: #5C5C5C;
}

.subSubmissionView th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.60em;
	padding: 3px 3px 3px 3px;
/*	color: #FFFFFF;*/
	font-weight: bold;
	/*background-color: #6a8989;*/
	text-align: left;
}

.subSubmissionView td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.60em;
	padding: 3px 3px 3px 3px;
	border-width: 0px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	color: #706C60;
}

.summaryViewLayer4 {
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
}

.summaryViewLayer4 caption {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	font-weight: bold;
	color: #5C5C5C;
}

.summaryViewLayer4 th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.60em;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;
	font-weight: bold;
	background-color: #FFFFFF;
	text-align: left;
}

.summaryViewLayer4 td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.60em;
	padding: 3px 3px 3px 3px;
	border-width: 0px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	color: #706C60;
}

.cellLabel {
	font-weight: bold;
	/*text-transform: uppercase;*/
}

body {
	margin:0;
	padding:0;
	background:#fff;
	font:11px verdana,arial,helvetica,sans-serif;
	color:#4A49A8;
}
p {
	text-align:center;
	padding:0 20px;
	margin:70px 0 0 0;
	line-height:14px;
}
p.pText {
	margin-top:40px;
}
ul, ol {
	font-size:12px;
	line-height:14px;
}
