#prompt {
	position: absolute;
	top: 20px;
	left: -10px;
	width: 350px;
	z-index: 13000;
}

#promptIEHack {
	position: relative;
	left: 10px;
	top: 5px;
	width: 350px;
}

input.promptButton {
	border: 1px solid #7F9DB9;
	background-color: #FFFFFF;
	width: 60px;
	font-family: arial;
	font-size: 10px;
	color: black;
	margin-left: 2px;
	margin-right: 2px;
}

table.promptbox {
	border: 1px solid #ccccff;
	background-color: #F4F4F5;
	color: black;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
	font-family: arial;
}

input.promptbox {
	border: 1px solid #7F9DB9;
	background-color: white;
	width: 100%;
	font-family: arial;
	font-size: 10px;
	color: black;
}
/**
#newInstrument {
	position: absolute;
	left: -10px;
	top: 5px;
	width: 350px;
	z-index:5;
}

#newInherentFunction {
	position: absolute;
	left: -10px;
	top: 5px;
	width: 450px;
	z-index:5;
}
#newTarget {
	position: absolute;
	left: -10px;
	top: 5px;
	width: 450px;
	z-index:5;
}
*/
#newAuthor {
	position: absolute;
	left: -10px;
	top: 5px;
	/*width: 550px;*/
	z-index:5;
}
#newColumnOrder {
	position: absolute;
	left: 203px;
	top: 3px;
	width: 450px;
	z-index:5;
}