
#prompt {

	position: relative;
	left: 450px;
	top: -800px;

/*
	position: absolute;
	top: 130px;
	left: 240px;
*/
	width: 350px;
	border: 1px outset #bbbbbb;
	background-color: #FFFFFF;
}

input.prompt {
	border: 1px solid #7F9DB9;
	background-color: #FFFFFF;
	width: 60px;
	font-family: arial;
	font-size: 12px;
	color: black;
	margin-left: 2px;
	margin-right: 2px;
}

td.titlebar {
	background-color: #FF9F40;
	color: #0000D2;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}

table.promptbox {
	border: 1px solid #ccccff;
	background-color: #F4F4F5;
	color: black;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
	font-family: arial;
	font-size: 12px;
}

input.promptbox {
	border: 1px solid #7F9DB9;
	background-color: white;
	width: 100%;
	font-family: arial;
	font-size: 12px;
	color: black;
}