/* side menu on the side bar of the nanoparticle page */
/******************************************************/

ul.slidingmenu,
ul.slidingmenu ul,
ul.slidingmenu li,
ul.slidingmenu a {
  padding: 0;
  margin: 0;
  display: block;
}

ul.slidingmenu {
	/* border-right: 1px solid #cccccc; */ /* constant: medium gray */
	border-right: 1px solid #cccccc;
	/* border-left: 1px solid #cccccc; */
}

ul.slidingmenu a:link, a:visited, a:active { 
	text-decoration: none;
	width: 100%;
	font-weight: bold;
}

ul.slidingmenu a:hover {
	background-color: #6A8989; /* constant: darker gray */
	color: white;
}

ul.slidingmenu a:link.subMenuSecondary, 
	a:visited.subMenuSecondary, a:active.subMenuSecondary {
	color: #ffffff; /* constant: white */
	white-space: nowrap;
	background-color: #98b7b7; /* constant: light gray */
	padding-top: 0.4em;
	padding-bottom: 0.3em;
	text-indent: 0.6em;
	font-size: 0.9em;
}

ul.slidingmenu, ul.slidingmenu ul {
	width: 100%;
}

ul.slidingmenu li {
	text-align: left;
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	width: 100%;
	color: #FFFFFF;
	background-color: #98B7B7; /* constant: dark gray */
}

ul.sublist_1 li {
	background-color: #C3C3C3;
	color: #FFFFFF;
}


ul.sublist_1 a {
	background-color: #C3C3C3;
	font-size: 0.9em;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	
}

ul.sublist_2 a:link.sublist_4, a:visited.sublist_4, a:active.sublist_4 {
	color: #400080;
}

ul.sublist_1 a:link.sublist_1, a:visited.sublist_1, a:active.sublist_1 {
	color: #FFFFFF;
}

ul.sublist_2 a:link.sublist_2, a:visited.sublist_2, a:active.sublist_2 {
	color: #FFFFFF;
}

ul.sublist_5 a:link.sublist_5, a:visited.sublist_5, a:active.sublist_5 {
	color: black;
}

ul.sublist_2 a {
	background-color: #C3C3C3; /* #D3DDE7; */
	color: #FFFFFF; /* #400080; */
	font-size: 0.8em;
	font-weight: bold;
	text-indent: 2em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	vertical-align: middle;
}

ul.sublist_2 li {
	background-color: #C3C3C3; /* #D3DDE7; */
}

ul.sublist_3 a {
	background-color: #D3DDE7;
	color: #400080;
	font-size: 0.8em;
	font-weight: bold;
	font-variant: normal;
	text-indent: 3em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
}

ul.sublist_3 li {
	border-bottom: 1px solid #cccccc;
	background-color: #D3DDE7;
}

ul.sublist_4 a {
	color: #400080;
	font-size: 0.8em;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 4em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

ul.sublist_4 li {
	background-color: #D3DDE7;
}

ul.sublist_5 a {
	background-color: #FFFFFF; /* #F4F4F5; */
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	text-indent: 5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

ul.sublist_5 li {
	background-color: #FFFFFF /* #F4F4F5 */;
}

ul.slidingmenu ul { 
  /* to place second menu on the left
     otherwise, it will be a drop down */
  /* 
     position: absolute;
     top: -4px;
     left: 100%;
  */
  
  display: none;
}

#view_particle {
	/* background-color: #a90101; */ /* constant: red */
	background-color: #5C5C5C;
	
	color: #FFFFFF;
	font-size: 0.9em;
	font-weight: normal;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#invivolist {
	background-color: #98b7b7; /* constant: light gray */
	color: white;
	font-size: 0.9em;
	font-style: italic;
	text-indent: 0.5em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.data_anchar {
	font-size: 0.7em;
	font-weight: bold;
	vertical-align: middle;
}