/* side menu on the side bar of the nanoparticle page */
/******************************************************/

/* display as normal blocks */
ul.slidingmenu,
ul.slidingmenu ul,
ul.slidingmenu li,
ul.slidingmenu a {
  padding: 0;
  margin: 0;
  display: block;
}

ul.slidingmenu a {
  text-decoration: none;
  width: 100%;
  font-weight: bold;
}
ul.slidingmenu {
	border-right: 1px solid #cccccc; /* constant: medium gray */
}

ul.slidingmenu, ul.slidingmenu ul {
	width: 100%;
}

ul.slidingmenu li {
	text-align: left;
	border-bottom: 1px solid #cccccc; /* constant: medium gray */
	width: 100%;
	list-style-type: none; 
	background-color: #5c5c5c; /* constant: dark gray */
	color: white;
}

ul.slidingmenu a {
	background-color: #5c5c5c; /* constant: dark gray */
	color: white;
	font-size: 0.9em;
	text-indent: 0.5em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

ul.sublist_1 li {
	background-color: #6a8989;
	color: white;
}

ul.sublist_1 a {
	/* background-color: #98b7b7; */ /* lighter gray */
	background-color: #6a8989;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
}

ul.sublist_2 a {
	background-color: #98b7b7;
	color: #5C5C5C; /*#475B82;  dark blue */
	font-size: 0.9em;
	font-weight: bold;
	font-variant: small-caps;
	text-indent: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

ul.sublist_2 li {
	/* border-bottom-color: #475B82; */
	background-color: #98b7b7;
}

ul.sublist_3 a {
	background-color: #AAD4FF; /* #AAAAFF; */
	color: #5C5C5C; /* dark blue */
	font-size: 0.9em;
	font-weight: bold;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 3em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

ul.sublist_3 li {
	background-color: #AAD4FF; /* #AAAAFF; */
}

ul.sublist_4 a {
	background-color: #D4D4FF;
	color: #400080;
	font-size: 0.8em;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

ul.sublist_4 li {
	background-color: #D4D4FF;
}

ul.sublist_5 a {
	background-color: #ECE9D8;
	color: black;
	font-size: 0.8em;
	font-weight: bold;
	text-indent: 5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

ul.sublist_5 li {
	background-color: #ECE9D8;
}

ul.slidingmenu a.subheader {
  /* background: #ded; */
  /* background-color: #98b7b7; */ /* lighter gray */
}

ul.slidingmenu a:hover {
  background: #cdc;
  color: #333;
}

/* make sure any ul inside an li (a submenu) takes up zero normal flow */
ul.slidingmenu ul { 
  /* to place second menu on the left
     otherwise, it will be a drop down */
  /* 
     position: absolute;  
     top: -4px;
     left: 100%;
  */
  
  display: none;
}

#view_particle {
	background-color: #a90101; /* constant: red */
	font-size: 0.9em;
	font-weight: normal;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-indent: 0.5em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#quick_link {
	background-color: #a90101; /* constant: red */
	font-size: 0.6em;
	font-weight: normal;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}