.summaryViewNoTop {
	border-collapse: collapse;
	border-color: #cccccc;
	border-style: solid;
	border-top: none;
	border-width: 1px;
	color: #5C5C5C;
	padding: 5px;
}

.summaryViewNoTop th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;	
}

.summaryViewNoTop td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	vertical-align: top;
	text-align: left;	
}

.summaryViewHeader {
	border-collapse: collapse;
	background-color: #dde9e9;
	border-width: 1px;
	padding: 0 0 0 0;
	color: #5C5C5C;
	border-width: 0px;
}

.summaryViewHeader th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 0 0 0 0;
	color: #5C5C5C;
}

.summaryViewHeader td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.75em;
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
}

.summaryViewNoTop th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;	
	border-color: #cccccc;
	padding: 5px 5px 5px 5px;
	color: #5C5C5C;
}

.summaryViewNoTop td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 5px 5px 5px 5px;
	border-color: #cccccc;
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
}

.summaryViewNoGrid {
	font-family: verdana, arial, helvetica, sans-serif;
	border-collapse: collapse;
	border-color: #5C5C5C;
	border-style: solid;
	color: #5C5C5C;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
}

.summaryViewNoGrid th {	
	font-size: 0.75em;
	color: #5C5C5C;
	font-weight: bold;
	text-align:left;
	border-width: 0px;	
	padding: 5px 0px 5px 0px;	
}

.summaryViewNoGrid td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 3px 3px 3px 3px;	
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
	border-width: 0px;
}

.summaryViewWithGrid {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
	background-color: #F5F5f5;
}

.summaryViewWithGrid th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	color: #5C5C5C;	
}

.summaryViewWithGrid td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.65em;
	padding: 3px 3px 3px 3px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	vertical-align: top;
	text-align: left;
	color: #5C5C5C;
}

.editTableWithGrid {
	border-width: 1px;
	border-color: #cccccc;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-collapse: collapse;
	color: #5C5C5C;
}

.summaryViewHeading {
	text-decoration: underline;
}


