.keywords li {
    width: 200px;
    padding:1px 20px;

}
.keywords li:hover {
    background:lightcoral;
    cursor: pointer;
    cursor:hand;
    font-weight:bolder;
}
.keywords li:hover::before {
  /* content: "\e014"; */
    content: "x ";
}

div.editSampleButtonBar {
    padding:25px;
}
div.nanoPageContainer {
    width:900px;
}
span.labelAsBtn:hover {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #ffffff;
    cursor:pointer;
}