<div class="modal-body">
<div>
	<a href="" ng-click="ok()" class="help">Hide</a>
	<a href="https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-DataAvailabilityMetrics" target="_blank" class="help">Help</a>
</div>
<table class="summaryViewWithGrid" width="100%" align="left" ng-init="data=sampleData">
<tr>
		<td colspan="2">


			<div style="display: block;" id="newAccess">
				<table class="subSubmissionView" width="85%" align="center" summary="layout">
					<tbody><tr>
						<th colspan="4">
							Access Information
						</th>
					</tr>
					<tr>
						<td class="cellLabel" width="25%">
							Access by *
						</td>
						<td colspan="3">
							<input type="radio" name="sampleBean.theAccess.accessBy" value="group" checked="checked" onclick="displayAccessNameLabel();" id="byGroup" disabled="">
							<label for="byGroup">Collaboration Group</label>
							<input type="radio" name="sampleBean.theAccess.accessBy" value="user" onclick="displayAccessNameLabel();" id="byUser" disabled="">
							<label for="byUser">User&nbsp;&nbsp;</label>

								<input type="radio" name="sampleBean.theAccess.accessBy" value="public" onclick="displayAccessNameLabel();" id="byPublic" disabled="">
							<label for="byPublic">Public</label>

						</td>
					</tr>
					<tr>

						<td class="cellLabel" id="accessNameLabel">Group Name *</td>
						<td><label for="groupName" style="display:none">Group Name</label>
							<input type="text" name="sampleBean.theAccess.groupName" value="" id="groupName" disabled="">
							<label for="userName" style="display:none">Login Name</label>
							<input type="text" name="sampleBean.theAccess.userBean.loginName" value="" id="userName" style="display: none;">
						</td>
						<td>
							<a href="#userNameField" id="browseIcon" onclick="javascript:showMatchedGroupOrUserDropdown('lijowskim')" style="display: none;"><img src="images/icon_browse.jpg" align="middle" alt="search existing collaboration groups" border="0"></a>
						</td>
						<td width="50%">
							<table class="invisibleTable">
								<tbody><tr>
									<td>
										<img src="images/ajax-loader.gif" border="0" class="counts" id="loaderImg" style="display: none" alt="collaboration groups or user login names">
									</td>
									<td>
									    <label for="matchedUserNameSelect" style="display:none" id="userNameSelectLabel">Select a user</label>
										<select name="sampleBean.theAccess.userBean.loginName" size="10" onclick="updateUserLoginName()" id="matchedUserNameSelect" style="display: none"></select>
										<label for="matchedGroupNameSelect" style="display:none">Select a group</label>
										<select name="sampleBean.theAccess.groupName" size="10" onclick="updateGroupName()" id="matchedGroupNameSelect" style="display: none"></select>
									</td>
									<td>
										<a id="cancelBrowse" style="display: none" href="javascript:cancelBrowseSelect();">Cancel</a>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
					<tr>
						<td class="cellLabel" width="10%">
							Access to the <label for="roleName">Sample *</label>
						</td>
						<td colspan="2">
							<select name="sampleBean.theAccess.roleName" id="roleName" disabled=""><option></option>
								<option value="R">read</option>
<option value="CURD">read update delete</option></select>
						</td>
						<td></td>
					</tr>
					<tr>
						<td><input id="deleteAccess" type="button" value="Remove" onclick="javascript:deleteTheAccess('sampleForm', 'sample', 4);" style="display: block;">
						</td>
						<td align="right" colspan="3">
							<div align="right">
								<input type="hidden" name="sampleBean.theAccess.roleName" value="R" id="hiddenRoleName">
								<input type="hidden" name="sampleBean.theAccess.groupName" value="Public" id="hiddenGroupName">
								<input type="button" value="Save" onclick="javascript:addAccess('sampleForm', 'sample', 4, true);">
								<input type="button" value="Cancel" onclick="javascript:clearAccess('sampleForm', 'Sample');closeSubmissionForm('Access');">
							</div>
						</td>
					</tr>
				</tbody></table>
			</div>
		</td>
	</tr>
</table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>
