<div ng-class="{formFocus:loader}">{{data}}
<div class="modal-header">
    <h3 class="modal-title pull-left">Add Characterization</h3>

    {{characterizationData}}
    <div class="pull-right">
        <a href="https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-UpdatingaSample" target="_blank" class="help">Help</a>
        <a href="" ng-click="cancel()" class="help">Hide</a>
    </div>
    <div style="clear:both"></div>
<!--     <h4 ng-if="poc.primaryContact" class="modal-title">Primary</h4>
    <h4 ng-if="!poc.primaryContact" class="modal-title">Secondary</h4> -->
</div>
<div class="modal-body">
    <div style="clear:both"></div>
    <div>
        <div class="message">
            <div ng-repeat="i in message track by $index">{{i}}</div><br />
        </div>
        <div class="message">
            <div ng-repeat="i in sampleData.errors track by $index">{{i}}</div><br />
        </div>        
<table class="submissionView" align="center" width="100%">
        <tbody><tr>
            <td class="cellLabel">
                <label for="charType">Characterization Type *</label>
            </td>
            <td>
                <div id="charTypePrompt">
                    <select data-ng-model="characterizationData.characterizationType" ng-init="characterizationData.characterizationType=type"
                    data-ng-options="option for option in data.charTypesLookup" ng-change="organizationDropdownChanged()" id="charType">
                    </select>                        
                </div>
            </td>
            <td class="cellLabel">
                <label for="charName">Characterization Name *</label>
            </td>
            <td>
                <div id="charNamePrompt">
                    <select data-ng-model="characterizationData.characterizationName"
                    data-ng-options="option for option in data.charNamesForCurrentType" ng-change="organizationDropdownChanged()" id="charName">
                    </select>  


                </div>
            </td>
        </tr>
    
    <tr>
        <td class="cellLabel">
            <label for="assayType">Assay Type</label>
        </td>
        <td>
            <div style="" id="assayTypePrompt">
                <select name="achar.assayType" onchange="javascript:callPrompt('Assay Type', 'assayType', 'assayTypePrompt');" id="assayType">
                    
                    
                        

                    
                    <option value=""></option><option value="[other]">[other]</option></select>
            </div>
        </td>
        <td class="cellLabel">
            <label for="protocolId">Protocol Name - Version</label>
        </td>
        <input name="achar.protocolBean.fileBean.domainFile.uri" value="" id="updatedUri" type="hidden">
        <td colspan="3">
            
                
                    <select name="achar.protocolBean.domain.id" onchange="retrieveProtocolById()" id="protocolId"><option>
                        </option><option value="69435392">Physicochemical and biological assays for quality control of biopharmaceuticals: Interferon alfa-2 case study, version v1.0</option>
<option value="63340544">Test File Protocol3</option>
<option value="31817728">Demo-PCC, version 1.0</option>
<option value="29949960">NIST - NCL Joint Assay Protocol, PCC-13 (PCC-13), version 1.1</option>
<option value="29949959">NIST - NCL Joint Assay Protocol, PCC-12 (PCC-12), version 1.1</option>
<option value="29949958">NIST - NCL Joint Assay Protocol, PCC-14 (PCC-14), version 1.0</option>
<option value="29949957">NIST - NCL Joint Assay Protocol, PCC-11 (PCC-11), version 1.1</option>
<option value="29949956">NIST - NCL Joint Assay Protocol, PCC-9 (PCC-9), version 1.1</option>
<option value="29949955">NIST - NCL Joint Assay Protocol, PCC-8 (PCC-8), version 1.1</option>
<option value="29949954">NIST - NCL Joint Assay Protocol, PCC-10 (PCC-10), version 1.1</option>
<option value="29949953">NIST - NCL Joint Assay Protocol, PCC-7 (PCC-7), version 1.1</option>
<option value="29949952">NIST - NCL Joint Assay Protocol, PCC-6 (PCC-6), version 1.1</option>
<option value="25210112">NIST - NCL Joint Assay Protocol, PCC-1 (PCC-1), version 1.1</option></select> &nbsp;<span id="protocolFileUri"><a href="protocol.do?dispatch=download&amp;fileId="></a>
                    </span>
                
                
            
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="charSource">Characterization Source</label>
        </td>
        <td>
            <select name="achar.pocBean.domain.id" id="charSource"><option value=""></option>
                <option value="68812800">CLM_UHA_CDS_INSERM</option></select>
        </td>
        <td class="cellLabel">
            <label for="charDate">Characterization Date</label>
        </td>
        <td>
            <input name="achar.dateString" size="10" value="" id="charDate" type="text">
            <a href="javascript:cal1.popup();"><img src="images/calendar-icon.gif" alt="Click Here to Pick up the date" title="Click Here to Pick up the date" border="0" align="top" height="18" width="22"></a>
        </td>
    </tr>
</tbody></table>
    </div>
<div style="padding-top:20px;margin-left:38px;width:300px" ng-show="deleteBlock" class="message">
    Are you sure you wish to delete this contact?<br /><br />
    <div>
    <button ng-disabled="loader" style="margin-right:50px !important;" ng-click="delete(1,1)" class="btn btn-danger btn-sm">Yes</button>
    <button ng-disabled="loader" style="margin-right:50px !important;" ng-click="delete(0,1)" class="btn btn-warning btn-modal">No</button>
</div>
</div>

</div>
<div style="clear:both;"></div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-warning btn-modal" ng-disabled="loader">Cancel</button>
    <button ng-if="!poc.primaryContact&&type!='add'" ng-click="delete()" class="btn btn-warning btn-danger" ng-disabled="loader">Delete</button>    
    <button ng-click="save()" class='btn btn-primary btn-modal' ng-disabled="!poc.organization.name || loader">Save</button>
</div>



</div>
  <div id="loader" style="top:-300px;left:300px" ng-show="loader">
    <div id="loaderText">
      {{loaderMessage}}
    </div>
    <div id="loaderGraphic"></div>
  </div>