<div class="modal-header" ng-init="data=sampleId">
    <h3 class="modal-title pull-left">Point Of Contact Information</h3>
    <div class="pull-right">
        <a href="https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-UpdatingaSample" target="_blank" class="help">Help</a>
        <a href="" ng-click="ok()" class="help">Hide</a>
    </div>
    <div style="clear:both"></div>
    <h4 class="modal-title">Primary</h4>
    {{data}}
    {{data.sampleId}}
    {{sampleId}}
</div>

<div class="modal-body" width='750px' ng-init="data=hello">
<div style="clear:both"></div>
<div>
<table class="subSubmissionView" width="85%" align="center" summary="layout">
                <tbody>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.name">Organization Name*</label>
{{data.address.line1}}
{{data.id}}
                                                                                </td>
                                                                                <td>
                                                                                                <div id="orgNamePrompt">
                                                                                                                <select name="sampleBean.thePOC.domain.organization.name" onchange="javascript:callPrompt('Organization Name', 'domain.organization.name', 'orgNamePrompt');updateOrganizationInfo();" id="domain.organization.name"><option value="">
                                                                                                                                                </option><option value="AIST_HTRC">AIST_HTRC</option>
<option value="BB_SH_DFCI_WCMC_BWH_MIT">BB_SH_DFCI_WCMC_BWH_MIT</option>
<option value="BB_SH_KCI_DFCI_WCMC_BWH_MIT">BB_SH_KCI_DFCI_WCMC_BWH_MIT</option>
<option value="BROWN_STANFORD">BROWN_STANFORD</option>
<option value="BWH_AnesthesiologyD">BWH_AnesthesiologyD</option>
<option value="C-Sixty (CNI)">C-Sixty (CNI)</option>
<option value="CAS_VT_VCU">CAS_VT_VCU</option>
<option value="CLM_UHA_CDS_INSERM">CLM_UHA_CDS_INSERM</option>
<option value="CP_UCLA_CalTech">CP_UCLA_CalTech</option>
<option value="CWRU">CWRU</option>
<option value="Childrens Hospital Los Angeles">Childrens Hospital Los Angeles</option>
<option value="Chris">Chris</option>
<option value="DC">DC</option>
<option value="DNT">DNT</option>
<option value="DWU_SNU_SU_US">DWU_SNU_SU_US</option>
<option value="GATECH">GATECH</option>
<option value="GATECH_EMORY">GATECH_EMORY</option>
<option value="GATECH_UCSF">GATECH_UCSF</option>
<option value="GIST_LifeScienceD">GIST_LifeScienceD</option>
<option value="HarvardU_PhysD">HarvardU_PhysD</option>
<option value="Harvard_MIT_DHST">Harvard_MIT_DHST</option>
<option value="JHU_KSU">JHU_KSU</option>
<option value="JSTA_FHU_NEC_MU_AIST_JAPAN">JSTA_FHU_NEC_MU_AIST_JAPAN</option>
<option value="JSTA_JFCR_NEC_FHU_TUSM_NIAIST">JSTA_JFCR_NEC_FHU_TUSM_NIAIST</option>
<option value="JST_AIST_FHU_TU_NEC_MU_JAPAN">JST_AIST_FHU_TU_NEC_MU_JAPAN</option>
<option value="Joe Barchi">Joe Barchi</option>
<option value="KI">KI</option>
<option value="KU_JSTC_JAPAN">KU_JSTC_JAPAN</option>
<option value="LMRT">LMRT</option>
<option value="MIT_ChemD">MIT_ChemD</option>
<option value="MIT_ChemEngineeringD">MIT_ChemEngineeringD</option>
<option value="MIT_LMRT">MIT_LMRT</option>
<option value="MIT_MGH">MIT_MGH</option>
<option value="MIT_MGH_GIST">MIT_MGH_GIST</option>
<option value="MIT_UC_BBIC_HST_CU">MIT_UC_BBIC_HST_CU</option>
<option value="MSKCC_CU_UA">MSKCC_CU_UA</option>
<option value="Mansoor Amiji">Mansoor Amiji</option>
<option value="Mark Kester">Mark Kester</option>
<option value="Mark Kester PSU">Mark Kester PSU</option>
<option value="NCL">NCL</option>
<option value="NEU">NEU</option>
<option value="NEU_DPS">NEU_DPS</option>
<option value="NEU_MGH_UP_FCCC">NEU_MGH_UP_FCCC</option>
<option value="NEU_MIT_MGH">NEU_MIT_MGH</option>
<option value="NIEHS">NIEHS</option>
<option value="NIOSH">NIOSH</option>
<option value="NRCWE">NRCWE</option>
<option value="NWU">NWU</option>
<option value="NWU_ChemD_IIN">NWU_ChemD_IIN</option>
<option value="Nanotechnology Characterization Laboratory">Nanotechnology Characterization Laboratory</option>
<option value="Nanotechnology_Characterization_Laboratory">Nanotechnology_Characterization_Laboratory</option>
<option value="New One">New One</option>
<option value="PNNL_CBBG">PNNL_CBBG</option>
<option value="PURDUE">PURDUE</option>
<option value="PURDUEU_BN">PURDUEU_BN</option>
<option value="RIT_KI_SU">RIT_KI_SU</option>
<option value="SNL_UNM">SNL_UNM</option>
<option value="SNU_CHINA">SNU_CHINA</option>
<option value="STANFORD">STANFORD</option>
<option value="STANFORD_ChemD">STANFORD_ChemD</option>
<option value="STANFORD_MIPS">STANFORD_MIPS</option>
<option value="STANFORD_OM">STANFORD_OM</option>
<option value="SUNYB_ILPB">SUNYB_ILPB</option>
<option value="SY Org">SY Org</option>
<option value="SY company">SY company</option>
<option value="Sharon">Sharon</option>
<option value="TAM_UT">TAM_UT</option>
<option value="TTU">TTU</option>
<option value="UAM_CSIC_IMDEA">UAM_CSIC_IMDEA</option>
<option value="UCSD_ChemBiochemD">UCSD_ChemBiochemD</option>
<option value="UCSD_MIT_MGH">UCSD_MIT_MGH</option>
<option value="UC_HU_UEN_GERMANY">UC_HU_UEN_GERMANY</option>
<option value="UI">UI</option>
<option value="UKY">UKY</option>
<option value="UL_NL">UL_NL</option>
<option value="UM">UM</option>
<option value="UM-C">UM-C</option>
<option value="UMC_DVP">UMC_DVP</option>
<option value="UMC_RadiolD">UMC_RadiolD</option>
<option value="UN">UN</option>
<option value="UNC">UNC</option>
<option value="UNC_ChemD">UNC_ChemD</option>
<option value="UTHSCH_UMG_MDACC_RU_UTA">UTHSCH_UMG_MDACC_RU_UTA</option>
<option value="UT_UMG_MDACC_RU_UTA">UT_UMG_MDACC_RU_UTA</option>
<option value="UToronto">UToronto</option>
<option value="VCU_VT_EHC">VCU_VT_EHC</option>
<option value="WSU">WSU</option>
<option value="WSU_DPS">WSU_DPS</option>
<option value="WUSTL">WUSTL</option>
<option value="WUSTL_DIM">WUSTL_DIM</option>
<option value="WU_SU_CHINA">WU_SU_CHINA</option>
<option value="YALE">YALE</option>
<option value="my org">my org</option>
<option value="natcompany">natcompany</option>
<option value="other">other</option>
<option value="shanyang">shanyang</option>
<option value="shanyangcomp">shanyangcomp</option>

                                                                                                                                <option value="other">
                                                                                                                                                [other]
                                                                                                                                </option></select>
                                                                                                </div>
                                                                                </td>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.role">Role</label>
                                                                                </td>
                                                                                <td valign="top" colspan="4">
                                                                                                <div id="rolePrompt">
                                                                                                                <select name="sampleBean.thePOC.domain.role" onchange="javascript:callPrompt('Contact Role', 'domain.role', 'rolePrompt');" id="domain.role"><option>
                                                                                                                                                </option><option value="Chris Contact Role">Chris Contact Role</option>
<option value="investigator">investigator</option>
<option value="manufacturer">manufacturer</option>

                                                                                                                                <option value="other">
                                                                                                                                                [other]
                                                                                                                                </option></select>
                                                                                                </div>
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.streetAddress1">Address Line1</label>
                                                                                </td>
                                                                                <td colspan="5">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.streetAddress1" size="50" ng-model="poc.address.line1" id="domain.organization.streetAddress1">
                                                                                                <input type="text" ng-model="poc.address.line2">
                                                                                                &nbsp;
                                                                                </td>
                                                                </tr>
                                                                <tr>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.streetAddress2">Address Line2</label>
                                                                                </td>
                                                                                <td colspan="5">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.streetAddress2" size="50" value="" id="domain.organization.streetAddress2">
                                                                                                &nbsp;
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.city">City</label>
                                                                                </td>
                                                                                <td>
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.city" size="20" value="" id="domain.organization.city">
                                                                                                &nbsp;
                                                                                </td>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.state">State/Province</label>
                                                                                </td>
                                                                                <td>
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.state" size="5" value="" id="domain.organization.state">
                                                                                                &nbsp;
                                                                                </td>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.postalCode">Zip/Postal Code</label>
                                                                                </td>
                                                                                <td>
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.postalCode" size="10" value="" id="domain.organization.postalCode">
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel">
                                                                                                <label for="domain.organization.country">Country</label>
                                                                                </td>
                                                                                <td>
                                                                                                <input type="text" name="sampleBean.thePOC.domain.organization.country" size="30" value="" id="domain.organization.country">
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.firstName">First Name</label>
                                                                                </td>
                                                                                <td valign="top">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.firstName" size="15" value="" id="domain.firstName">
                                                                                </td>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.middleInitial">Middle Initial</label>
                                                                                </td>
                                                                                <td valign="top">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.middleInitial" size="5" value="" id="domain.middleInitial">
                                                                                </td>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.lastName">Last Name</label>
                                                                                </td>
                                                                                <td valign="top">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.lastName" size="15" value="" onchange="updatePersonInfo()" id="domain.lastName">
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
                <tr>
                                <td>
                                                <table>
                                                                <tbody><tr>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.phone">Phone Number</label>
                                                                                </td>
                                                                                <td valign="top">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.phone" size="30" value="" id="domain.phone">
                                                                                </td>
                                                                                <td class="cellLabel" valign="top">
                                                                                                <label for="domain.email">Email</label>
                                                                                </td>
                                                                                <td valign="top" colspan="4">
                                                                                                <input type="text" name="sampleBean.thePOC.domain.email" size="30" value="" id="domain.email">
                                                                                </td>
                                                                </tr>
                                                </tbody></table>
                                </td>
                </tr>
</tbody></table>
                                                                </div>
</div>

<div style="clear:both;"></div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-warning btn-modal">Close</button>
    <div class="button-spacer pull-right"></div>
    <button ng-click="save()" class='btn btn-primary btn-modal'>Save</button>
</div>
