<div class="modal-body">
<div>
	<a href="" ng-click="ok()" class="help">Hide</a>
	<a href="https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-DataAvailabilityMetrics" target="_blank" class="help">Help</a>
</div>
<table class="summaryViewWithGrid" width="100%" align="left" ng-init="data=availabilityData">
	<tr><th colspan="3">caNanoLab Availability Score: {{data.caNanoLabScore}}&nbsp;&nbsp;
		MINChar Availability Score: {{data.mincharScore}}</th></tr>
	<tr>
		<td  class="cellLabel" align="center">
			caNanoLab
		</td>
		<td  class="cellLabel" align="center">
			MINChar
		</td>
		<td class="cellLabel" align="center">
		{{data.sampleName}}
		</td>
	</tr>
	<tr>
		<td ></td>
		<td >agglomeration and/or aggregation </td>
		<td ></td>
	</tr>
	<tr>
		<td></td>
		<td>crystal structure/crystallinity</td>
		<td></td>
	</tr>
	<tr>
		<td>
			General Sample Information
		</td>
		<td></td>
		<td align="center">
			<img src="images/icon_checkMark.png"  />
		</td>
	</tr>
	<tr>
		<td>
			Sample Composition
		</td>
		<td>
			chemical composition
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='sample composition'" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;nanomaterial entities
		</td>
		<td>
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='nanomaterial entities'" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;functionalizing entities
		</td>
		<td>
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='functionalizing entities'" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;chemical associations
		</td>
		<td>
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='chemical associations'" />
		</td>
	</tr>
	<tr ng-repeat="chem in data.chemicalAssocs">
		<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{chem}}
		</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==chem">{{val}}
			</span>
		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==chem" />
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;&nbsp;sample function
		</td>
		<td>

		</td>
		<td align="center">
		<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='sample function'" />
		</td>
	</tr>
	<tr>
		<td colspan="3">
			Physico-Chemical Characterization
		</td>
	</tr>

		<tr ng-repeat="char in data.physicoChars" ng-if="char=='surface'">
			<td>
				&nbsp;&nbsp;{{char}}
			</td>
			<td></td>
			<td align="center">
						<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
			</td>
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;surface area</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='surface area'">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='surface area'" />
		</td>
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;surface charge</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='surface charge'">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='surface charge'" />
		</td>
		</tr>
		<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zeta potential</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key=='zeta potential'">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='zeta potential'" />
		</td>
		</tr>





		<tr ng-repeat="char in data.physicoChars" ng-if="char!='surface'">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>
		</td>
		<td  align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>
		</tr>

	<tr>
		<td colspan="3">
			In Vitro Characterization
		</td>
	</tr>
		<tr ng-repeat="char in data.invitroChars">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>
		</td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>
		</tr>
	<tr>
		<td colspan="3">
			In Vivo Characterization
		</td>
	</tr>
		<tr ng-repeat="char in data.invivoChars">
		<td>&nbsp;&nbsp;{{char}}</td>
		<td>
			<span ng-repeat="(key,val) in data.caNano2MINChar" ng-if="key==char">{{val}}
			</span>
		</td>
		<td  align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity==char" />
		</td>
		</tr>
	<tr>
		<td>
			Publications
		</td>
		<td></td>
		<td align="center">
					<img src="images/icon_checkMark.png" ng-repeat="entity in data.availableEntityNames" ng-if="entity=='publications'" />
		</td>
	</tr>
</table>
</div>
<tr>
<td colspan="2">
<div style="display: block;" id="newPointOfContact">
<a name="submitPointOfContact" class="anchorLink">


<table class="subSubmissionView" width="85%" align="center" summary="layout">
<tbody><tr>
    <th>
        <span id="primaryTitle" style="display: block;">Primary</span><span id="secondaryTitle" style="display: none;">Secondary</span> Point of
        Contact Information
    </th>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel">
                    <label for="domain.organization.name">Organization Name*</label>
                </td>
                <td>
                    <div id="orgNamePrompt">
                        <select name="sampleBean.thePOC.domain.organization.name" onchange="javascript:callPrompt('Organization Name', 'domain.organization.name', 'orgNamePrompt');updateOrganizationInfo();" id="domain.organization.name"><option value="">
                        </option><option value="AIST_HTRC">AIST_HTRC</option>
                            <option value="BB_SH_DFCI_WCMC_BWH_MIT">BB_SH_DFCI_WCMC_BWH_MIT</option>
                            <option value="BB_SH_KCI_DFCI_WCMC_BWH_MIT">BB_SH_KCI_DFCI_WCMC_BWH_MIT</option>
                            <option value="BROWN_STANFORD">BROWN_STANFORD</option>
                            <option value="BWH_AnesthesiologyD">BWH_AnesthesiologyD</option>
                            <option value="C-Sixty (CNI)">C-Sixty (CNI)</option>
                            <option value="CAS_VT_VCU">CAS_VT_VCU</option>
                            <option value="CLM_UHA_CDS_INSERM">CLM_UHA_CDS_INSERM</option>
                            <option value="CP_UCLA_CalTech">CP_UCLA_CalTech</option>
                            <option value="CWRU">CWRU</option>
                            <option value="Childrens Hospital Los Angeles">Childrens Hospital Los Angeles</option>
                            <option value="DC">DC</option>
                            <option value="DNT">DNT</option>
                            <option value="DWU_SNU_SU_US">DWU_SNU_SU_US</option>
                            <option value="GATECH">GATECH</option>
                            <option value="GATECH_EMORY">GATECH_EMORY</option>
                            <option value="GATECH_UCSF">GATECH_UCSF</option>
                            <option value="GIST_LifeScienceD">GIST_LifeScienceD</option>
                            <option value="HarvardU_PhysD">HarvardU_PhysD</option>
                            <option value="Harvard_MIT_DHST">Harvard_MIT_DHST</option>
                            <option value="JHU_KSU">JHU_KSU</option>
                            <option value="JSTA_FHU_NEC_MU_AIST_JAPAN">JSTA_FHU_NEC_MU_AIST_JAPAN</option>
                            <option value="JSTA_JFCR_NEC_FHU_TUSM_NIAIST">JSTA_JFCR_NEC_FHU_TUSM_NIAIST</option>
                            <option value="JST_AIST_FHU_TU_NEC_MU_JAPAN">JST_AIST_FHU_TU_NEC_MU_JAPAN</option>
                            <option value="Joe Barchi">Joe Barchi</option>
                            <option value="KI">KI</option>
                            <option value="KU_JSTC_JAPAN">KU_JSTC_JAPAN</option>
                            <option value="LMRT">LMRT</option>
                            <option value="MIT_ChemD">MIT_ChemD</option>
                            <option value="MIT_ChemEngineeringD">MIT_ChemEngineeringD</option>
                            <option value="MIT_LMRT">MIT_LMRT</option>
                            <option value="MIT_MGH">MIT_MGH</option>
                            <option value="MIT_MGH_GIST">MIT_MGH_GIST</option>
                            <option value="MIT_UC_BBIC_HST_CU">MIT_UC_BBIC_HST_CU</option>
                            <option value="MSKCC_CU_UA">MSKCC_CU_UA</option>
                            <option value="Mansoor Amiji">Mansoor Amiji</option>
                            <option value="Mark Kester">Mark Kester</option>
                            <option value="Mark Kester PSU">Mark Kester PSU</option>
                            <option value="NCL">NCL</option>
                            <option value="NEU">NEU</option>
                            <option value="NEU_DPS">NEU_DPS</option>
                            <option value="NEU_MGH_UP_FCCC">NEU_MGH_UP_FCCC</option>
                            <option value="NEU_MIT_MGH">NEU_MIT_MGH</option>
                            <option value="NIEHS">NIEHS</option>
                            <option value="NIOSH">NIOSH</option>
                            <option value="NRCWE">NRCWE</option>
                            <option value="NWU">NWU</option>
                            <option value="NWU_ChemD_IIN">NWU_ChemD_IIN</option>
                            <option value="Nanotechnology Characterization Laboratory">Nanotechnology Characterization Laboratory</option>
                            <option value="Nanotechnology_Characterization_Laboratory">Nanotechnology_Characterization_Laboratory</option>
                            <option value="PNNL_CBBG">PNNL_CBBG</option>
                            <option value="PURDUE">PURDUE</option>
                            <option value="PURDUEU_BN">PURDUEU_BN</option>
                            <option value="RIT_KI_SU">RIT_KI_SU</option>
                            <option value="SNL_UNM">SNL_UNM</option>
                            <option value="SNU_CHINA">SNU_CHINA</option>
                            <option value="STANFORD">STANFORD</option>
                            <option value="STANFORD_ChemD">STANFORD_ChemD</option>
                            <option value="STANFORD_MIPS">STANFORD_MIPS</option>
                            <option value="STANFORD_OM">STANFORD_OM</option>
                            <option value="SUNYB_ILPB">SUNYB_ILPB</option>
                            <option value="Sharon">Sharon</option>
                            <option value="TAM_UT">TAM_UT</option>
                            <option value="TTU">TTU</option>
                            <option value="UAM_CSIC_IMDEA">UAM_CSIC_IMDEA</option>
                            <option value="UCSD_ChemBiochemD">UCSD_ChemBiochemD</option>
                            <option value="UCSD_MIT_MGH">UCSD_MIT_MGH</option>
                            <option value="UC_HU_UEN_GERMANY">UC_HU_UEN_GERMANY</option>
                            <option value="UI">UI</option>
                            <option value="UKY">UKY</option>
                            <option value="UL_NL">UL_NL</option>
                            <option value="UM">UM</option>
                            <option value="UM-C">UM-C</option>
                            <option value="UMC_DVP">UMC_DVP</option>
                            <option value="UMC_RadiolD" selected="selected">UMC_RadiolD</option>
                            <option value="UN">UN</option>
                            <option value="UNC">UNC</option>
                            <option value="UNC_ChemD">UNC_ChemD</option>
                            <option value="UTHSCH_UMG_MDACC_RU_UTA">UTHSCH_UMG_MDACC_RU_UTA</option>
                            <option value="UT_UMG_MDACC_RU_UTA">UT_UMG_MDACC_RU_UTA</option>
                            <option value="UToronto">UToronto</option>
                            <option value="VCU_VT_EHC">VCU_VT_EHC</option>
                            <option value="WSU">WSU</option>
                            <option value="WSU_DPS">WSU_DPS</option>
                            <option value="WUSTL">WUSTL</option>
                            <option value="WUSTL_DIM">WUSTL_DIM</option>
                            <option value="WU_SU_CHINA">WU_SU_CHINA</option>
                            <option value="YALE">YALE</option>

                            <option value="other">
                                [other]
                            </option></select>
                    </div>
                </td>
                <td class="cellLabel" valign="top">
                    <label for="domain.role">Role</label>
                </td>
                <td valign="top" colspan="4">
                    <div id="rolePrompt">
                        <select name="sampleBean.thePOC.domain.role" onchange="javascript:callPrompt('Contact Role', 'domain.role', 'rolePrompt');" id="domain.role"><option>
                        </option><option value="investigator" selected="selected">investigator</option>
                            <option value="manufacturer">manufacturer</option>

                            <option value="other">
                                [other]
                            </option></select>
                    </div>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel">
                    <label for="domain.organization.streetAddress1">Address Line1</label>
                </td>
                <td colspan="5">
                    <input type="text" name="sampleBean.thePOC.domain.organization.streetAddress1" size="50" value="Department of Radiology" id="domain.organization.streetAddress1">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="cellLabel">
                    <label for="domain.organization.streetAddress2">Address Line2</label>
                </td>
                <td colspan="5">
                    <input type="text" name="sampleBean.thePOC.domain.organization.streetAddress2" size="50" value="University of Missouri-Columbia" id="domain.organization.streetAddress2">
                    &nbsp;
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel">
                    <label for="domain.organization.city">City</label>
                </td>
                <td>
                    <input type="text" name="sampleBean.thePOC.domain.organization.city" size="20" value="Columbia" id="domain.organization.city">
                    &nbsp;
                </td>
                <td class="cellLabel">
                    <label for="domain.organization.state">State/Province</label>
                </td>
                <td>
                    <input type="text" name="sampleBean.thePOC.domain.organization.state" size="5" value="MO" id="domain.organization.state">
                    &nbsp;
                </td>
                <td class="cellLabel">
                    <label for="domain.organization.postalCode">Zip/Postal Code</label>
                </td>
                <td>
                    <input type="text" name="sampleBean.thePOC.domain.organization.postalCode" size="10" value="65212" id="domain.organization.postalCode">
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel">
                    <label for="domain.organization.country">Country</label>
                </td>
                <td>
                    <input type="text" name="sampleBean.thePOC.domain.organization.country" size="30" value="USA" id="domain.organization.country">
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel" valign="top">
                    <label for="domain.firstName">First Name</label>
                </td>
                <td valign="top">
                    <input type="text" name="sampleBean.thePOC.domain.firstName" size="15" value="Raghuraman" id="domain.firstName">
                </td>
                <td class="cellLabel" valign="top">
                    <label for="domain.middleInitial">Middle Initial</label>
                </td>
                <td valign="top">
                    <input type="text" name="sampleBean.thePOC.domain.middleInitial" size="5" value="" id="domain.middleInitial">
                </td>
                <td class="cellLabel" valign="top">
                    <label for="domain.lastName">Last Name</label>
                </td>
                <td valign="top">
                    <input type="text" name="sampleBean.thePOC.domain.lastName" size="15" value="Kannan" onchange="updatePersonInfo()" id="domain.lastName">
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tbody><tr>
                <td class="cellLabel" valign="top">
                    <label for="domain.phone">Phone Number</label>
                </td>
                <td valign="top">
                    <input type="text" name="sampleBean.thePOC.domain.phone" size="30" value="" id="domain.phone">
                </td>
                <td class="cellLabel" valign="top">
                    <label for="domain.email">Email</label>
                </td>
                <td valign="top" colspan="4">
                    <input type="text" name="sampleBean.thePOC.domain.email" size="30" value="kannanr@health.missouri.edu" id="domain.email">
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
<tr>
    <td>
        <table width="100%">
            <tbody><tr>
                <td>

                    <input type="button" value="Remove" onclick="removePointOfContact('sample')" id="deletePointOfContact" style="display: none;">

                </td>
                <td>
                    <div align="right">
                        <input type="button" value="Save" onclick="addPointOfContact('sample')">
                        <input type="button" value="Cancel" onclick="clearPointOfContact();closeSubmissionForm('PointOfContact');">
                        <input type="hidden" name="sampleBean.thePOC.domain.id" value="27066372" id="domain.id">
                        <input type="hidden" name="sampleBean.thePOC.primaryStatus" value="true" id="primaryStatus">
                    </div>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
</tbody></table></a>
</div>
</td>
</tr>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>
