<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Manage Publications
       </th>
        <td align="right" width="30%">
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/6+-+Managing+Publications+in+caNanoLab#id-6-ManagingPublicationsincaNanoLab-PublicationsOverview')">Help</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
<br />

</div>