<div class="spacer">
  <div ng-class="{formFocus:loader}">{{searchPublicationForm}}<br>**{{publicationData.data}}**
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
            <th align="left" scope="col">Publication Search</th>

            <td align="right" width="30%">
                <a class="helpText" href=
                "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">
                Help</a> &nbsp; <a class="helpText" href=
                "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">
                Glossary</a> &nbsp;
            </td>
        </tr>
    </table><br>

<table width="100%" align="center" class="submissionView" summary="layout">
        <tr>
            <td class="cellLabel" width="15%">
                <label for="publicationCategory">Publication Type</label>
            </td>
            <td colspan="2">
                <select ng-disabled="loader" ng-model="searchPublicationForm.category" name="category" ng-change="displayPubMed()"><option ng-repeat="category in data.publicationCategories" value="{{category}}">{{category}}</option>
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="researchArea">Research Category</label>
            </td>
            <td colspan="2">
                    <input ng-repeat-start="(key,val) in researchArea track by $index" ng-disabled="loader" ng-model="researchArea[key]" type="checkbox" id="researchArea"><span style="padding-left:1px;padding-right:5px;" ng-repeat-end>{{key}}</span>
                    </td>
        </tr>
        <tr id="pubMedRow" ng-hide="pubMed">
            <td class="cellLabel">
                <label for="pubMedId">PubMed ID</label>
            </td>
            <td colspan="2">
                <input type="text" ng-disabled="loader" name="pubMedId" size="30" value="" id="pubMedId" ng-model="searchPublicationForm.pubMedId">
                <em>exact match</em>
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="digitalObjectId">Digital Object ID</label>
            </td>
            <td colspan="2">
                <input type="text" ng-disabled="loader" name="digitalObjectId" size="30" value="" id="digitalObjectId" ng-model="searchPublicationForm.digitalObjectId">
                <em>exact match</em>
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="title">Publication Title</label>
            </td>
            <td colspan="2">
                <table class="invisibleTable" summary="layout">
                    <tr>
                        <td><label for="titleOperand" style="display:none">Title Operand</label>
                            <select name="titleOperand" ng-init="searchPublicationForm.titleOperand='contains'" ng-model="searchPublicationForm.titleOperand" id="titleOperand" ng-disabled="loader">                   <option value="contains">
                                contains
                            </option>

                            <option value="equals">
                                equals
                            </option>
                        </select>
                        </td>
                        <td align="left">
                            <input type="text" name="title" size="80" value="" id="title" ng-model="searchPublicationForm.title" ng-disabled="loader">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="authorsStr">Authors</label>
            </td>
            <td colspan="2">
                <textarea name="authorsStr" ng-disabled="loader" ng-model="searchPublicationForm.authorStr" cols="77" rows="3" id="authorsStr"></textarea>
                <br />
                <em>enter one author per line</em>
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="keywordsStr">Keywords</label>
            </td>
            <td colspan="2">
                <textarea name="keywordsStr" ng-disabled="loader" ng-model="searchPublicationForm.keywordsStr" cols="77" rows="3" id="keywordsStr"></textarea>
                <br />
                <em>enter one keyword per line</em>
            </td>
        </tr>
    </table>
    <br>
    <table width="100%" align="center" class="submissionView" summary="layout">
        <tr>
            <td class="cellLabel">
                <label for="sampleName">Sample Name</label>
            </td>
            <td valign="top"  align="left" colspan="5">
                <label for="nameOperand" style="display:none">name operand</label>
                <select name="nameOperand" id="nameOperand" ng-init="searchPublicationForm.nameOperand='contains'" ng-disabled="loader" ng-model="searchPublicationForm.nameOperand">                            
                    <option value="contains">
                                contains
                            </option>

                            <option value="equals">
                                equals
                            </option>
                        </select>&nbsp;&nbsp;&nbsp;
                <input type="text" name="sampleName" ng-disabled="loader" ng-model="searchPublicationForm.sampleName" size="80" value="" id="sampleName">
            </td>
        </tr>
        <tr>
            <td class="cellLabel">
                <label for="nanomaterialEntityTypes">Composition
                <br>
                Nanomaterial Entity</label>
            </td>
            <td>
                <select name="nanomaterialEntityTypes" ng-disabled="loader" ng-model="searchPublicationForm.nanomaterialEntityTypes" multiple="multiple" size="4" id="nanomaterialEntityTypes"><option ng-repeat="option in data.nanomaterialEntityTypes" value="{{option}}">{{option}}</option>
            </td>
            <td class="cellLabel">
                <label for="functionalizingEntityTypes">Composition
                <br>
                Functionalizing Entity</label>
            </td>
            <td>
                <select name="functionalizingEntityTypes" ng-disabled="loader" ng-model="searchPublicationForm.functionalizingEntityTypes" multiple="multiple" size="3" id="functionalizingEntityTypes"><option ng-repeat="option in data.functionalizingEntityTypes" value="{{option}}">{{option}}</option>


            </td>
            <td class="cellLabel">
                <label for="functionTypes">Function</label>
            </td>
            <td>
                <select name="functionTypes" ng-disabled="loader" ng-model="searchPublicationForm.functionTypes" multiple="multiple" size="3" id="functionTypes"><option ng-repeat="option in data.functionTypes" value="{{option}}">{{option}}</option>
            </td>
        </tr>
    </table>
    <br>
    
    
    
    





<table width="100%" class="invisibleTable" summary="layout">
    <tr>
        <td align="center">
            <span class="formMessage"> <em>Searching without any
                    parameters returns all publications.</em> </span>
        </td>
    </tr>
    <tr>
        <td align="right">
            <input ng-disabled="loader" type="reset" value="Reset" ng-click="resetForm()"> &nbsp; <input ng-disabled="loader" type="submit" value=
            "Search" ng-click="doSearch()"> <input ng-disabled="loader" name="dispatch" type="hidden" value="search">
            <input ng-disabled="loader" name="page" type="hidden" value="1">
            
        </td>
    </tr>
</table>
<div ng-if="message">{{message}}</div>
  <div id="loader" ng-show="loader">
    <div id="loaderText">
      Loading
    </div>
    <div id="loaderGraphic"></div>
  </div>
</div> 