<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
      <tr>
       <th scope="col" align="left">
         Publication Information (What should be the title)
       </th>
        <td align="right" width="30%">
        <button class="btn back btn-xs" ng-click="goBack()">Back where does this go</button>            
          <a class="helpText" href=
          "javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/3+-+Managing+Samples+in+caNanoLab#id-3-ManagingSamplesincaNanoLab-SearchingExistingSamples')">Help where does this go</a>   <a class=
          "helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>  
        </td>
      </tr>
    </table>
<br />{{data}}
<table class="table publication" width="100%">
	<tr>
		<th>Publication REF</th>
		<th>Authors</th>
		<th>Title</th>
		<th>Sample Composition</th>
		<th>Sample Characterization</th>
		<th>Journal</th>
		<th>Year</th>
		<th>Vol(lss)Pg</th>
	</tr>
	<tr>
		<td class="columnOne">Publication REF</td>
		<td>Authors</td>
		<td>Title</td>
		<td>Sample Composition</td>
		<td>Sample Characterization</td>
		<td>Journal</td>
		<td>Year</td>
		<td>Vol(lss)Pg</td>
</table> 

</div>