<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
              
    <!--  jee:jndi-lookup id="dataSource" jndi-name="jdbc/FormBuilderDS" resource-ref="false" /> 
    
    <tx:annotation-driven transaction-manager = "transactionManager" />
    <tx:annotation-driven proxy-target-class="true"/>
    -->
    
    <bean id="loginBO"
		class="gov.nih.nci.cananolab.restful.security.LoginBO">
	</bean>
	
	<bean id="logoutBO"
		class="gov.nih.nci.cananolab.restful.security.LogoutBO">
	</bean>
	
	<bean id="registerUserBO"
		class="gov.nih.nci.cananolab.restful.security.RegisterUserBO">
	</bean>
	
	<bean id="tabGenerationBO"
		class="gov.nih.nci.cananolab.restful.core.TabGenerationBO">
	</bean>
	
	<bean id="searchSampleBO"
		class="gov.nih.nci.cananolab.restful.sample.SearchSampleBO">
		<property name="dataAvailabilityService">
			<ref bean="dataAvailabilityServiceDAO" />
		</property>
	</bean>
	<bean id="sampleBO"
		class="gov.nih.nci.cananolab.restful.sample.SampleBO">
		<property name="dataAvailabilityService">
			<ref bean="dataAvailabilityServiceDAO" />
		</property>
	</bean>
	
	<bean id="publicationBO"
		class="gov.nih.nci.cananolab.restful.publication.PublicationBO">
	</bean>
	
	<bean id="characterizationBO"
		class="gov.nih.nci.cananolab.restful.sample.CharacterizationBO">
	</bean>
	
	
	<bean id="customPlugInBO"
		class="gov.nih.nci.cananolab.restful.core.CustomPlugInBO">
	</bean>

	<import resource="classpath*:/application-config-jdbc-client.xml" />
</beans>

