<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<context:annotation-config />

	<context:component-scan base-package="gov.nih.nci.cananolab" />
	
	<jee:jndi-lookup id="dataSource" jndi-name="java:/caNanoLab"  />

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" />
	
	<bean name="publicDataCountJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="gov.nih.nci.cananolab.service.PublicDataCountJob"/>
        <property name="jobDataMap">
	        <map>
	            <entry key="sampleService" value-ref="sampleService" />
	            <entry key="protocolService" value-ref="protocolService" />
	            <entry key="publicationService" value-ref="publicationService" />
	            <entry key="characterizationService" value-ref="characterizationService" />
	        </map>
	    </property>
	    <property name="durability" value="true" />
    </bean>
    
    <bean id="publicDataCountTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
         <!-- see the example of method invoking job above -->
         <property name="jobDetail" ref="publicDataCountJob"/>
         <property name="startDelay" value="2000"/>
         <property name="repeatInterval" value="8640000"/>
    </bean>
    
    <bean name="luceneIndexJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="gov.nih.nci.cananolab.service.IndexWriter"/>
        <property name="jobDataMap">
	        <map>
	            <entry key="customSearchEngine" value-ref="customSearchEngine" />
	        </map>
	    </property>
	    <property name="durability" value="true" />
    </bean>
    
    <bean id="luceneIndexTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
         <!-- see the example of method invoking job above -->
         <property name="jobDetail" ref="luceneIndexJob"/>
         <property name="startDelay" value="2000"/>
         <property name="repeatInterval" value="86400000"/>
    </bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
	        <list>
	            <ref bean="publicDataCountJob" />
	            <!-- <ref bean="luceneIndexJob" /> -->
	        </list>
	    </property>
		<property name="triggers">
			<list>
				<ref bean="publicDataCountTrigger" />
				<!-- <ref bean="luceneIndexTrigger" /> -->
			</list>
		</property>
	</bean>
	
</beans>

