<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright SAIC
   Copyright SAIC-Frederick

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/cananolab/LICENSE.txt for details.
L-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>caNanoLab</display-name>
	
	
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>gov.nih.nci.cananolab.restful org.codehaus.jackson.jaxrs</param-value>
        </init-param>
		<init-param>
    		<param-name>jersey.config.disableMoxyJson.server</param-name>
    		<param-value>true</param-value>
		</init-param>
		<init-param>
		    <param-name>jersey.config.server.provider.classnames</param-name>
		    <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature;org.glassfish.jersey.media.multipart.FormDataContentDisposition</param-value>
		</init-param>		
		
        <load-on-startup>1</load-on-startup>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
   
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext-strutsless.xml</param-value>
    </context-param>
    
    <listener>
    	<listener-class>
      		org.springframework.web.context.ContextLoaderListener
    	</listener-class>
  	</listener>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
</web-app>
