<table width="100%" align="center" class="submissionView">
    <tr>
        <th colspan="4">
            Biopolymer Properties
        </th>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="biopolymerName">Name*</label>
        </td>
        <td class="cellLabel">
            <input type="text" ng-model="nanomaterialEntity.biopolymer.name" id="biopolymerName">
        </td>
        <td class="cellLabel">
            <label for="biopolymerType">Biopolymer Type*</label>
        </td>
        <td class="cellLabel">
            <div id="biopolymerTypePrompt">
                <select name="nanomaterialEntity.biopolymer.type"  id="biopolymerType">
                    <option value=""></option>
                    <option ng-repeat="type in $parent.biopolymerTypes track by $index" value="{{type}}">
                        {{type}}
                    </option>
                    <option value="other">
                        [other]
                    </option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="biopolymerSequence">Sequence</label>
        </td>
        <td class="cellLabel" colspan="3">
            <textarea id="biopolymerSequence" ng-model="nanomaterialEntity.biopolymer.sequence" cols="80"
                      rows="3"></textarea>
        </td>
    </tr>
</table>