<table width="100%" align="center" class="submissionView">
    <tr>
        <th colspan="4">
            Dendrimer Properties
        </th>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="dendrimerBranch">Branch</label>
        </td>
        <td class="cellLabel">
            <input id="dendrimerBranch" type="text" ng-model="nanomaterialEntity.dendrimer.branch" />
        </td>
        <td class="cellLabel">
            <label for="dendrimerGeneration">Generation</label>
        </td>
        <td class="cellLabel">
            <input id="dendrimerGeneration" type="text" ng-model="nanomaterialEntity.dendrimer.generation" />
        </td>
    </tr>
</table>
