<table width="100%" align="center" class="submissionView">
    <tr>
        <th colspan="4">
            Emulsion Properties
        </th>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="emulsionIsPolymerized">Is Polymerized</label>
        </td>
        <td class="cellLabel">
            <select ng-model="nanomaterialEntity.isPolymerized" id="emulsionIsPolymerized">
                <option value="None"></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </td>
        <td class="cellLabel">
            <label for="emulsionPolymerName">Polymer Name</label>
        </td>
        <td class="cellLabel">
            <input type="text" ng-model="nanomaterialEntity.emulsion.polymerName" id="emulsionPolymerName" />
        </td>
    </tr>
</table>