<table id="summarySection{{index}}" width="100%" align="center"
       style="display: block" class="summaryViewNoGrid dataTable">
    <tr>
        <th align="left"  class="heading" style="padding: 0.5em;">
            nanomaterial entity
            &nbsp;&nbsp;
            <!-- <button ng-click="$parent.addAccess=true; $parent.showAddAccessButton=false;$parent.accessForm.theAccess.userBean.loginName='';$parent.accessForm.theAccess.groupName='';$parent.accessForm.theAccess.roleName='';" id="addNano" class="btn btn-primary btn-xxs">Add</button> -->
            <a href="/caNanoLab/#/editNanoMaterialEntity?sampleId={{sampleId.data}}&&type={{type}}&&sampleName={{sampleData.data[0].sampleName}}" class="btn btn-primary btn-xxs" style="color:white;text-decoration: none;">
                Add
            </a>
        </th>
    </tr>
    <tr ng-repeat="(key, entityTypes) in $parent.nanomaterialentity">
        <td align="left">
            <a href="{{key}}"></a>
            <div class="characterization" style="display: inline-block; overflow:hidden; width:97%">{{key}}</div>
            <table width="99%" align="center" class="summaryViewNoGrid"
                   style="background-color:#dbdbdb;" ng-repeat="entityType in entityTypes">
                <tr>
                    <td>
                        <!-- <div style="margin-left:auto; margin-right:auto;text-align:right;width:99%;">
                            <button ng-click="$parent.addAccess=true; $parent.showAddAccessButton=false;$parent.accessForm.theAccess.userBean.loginName='';$parent.accessForm.theAccess.groupName='';$parent.accessForm.theAccess.roleName='';" id="addNano" class="btn btn-primary btn-xxs">Edit</button>
                        </div> -->
                        <div style="margin-left:auto; margin-right:auto;text-align:right;width:99%;">
                            <a href="/caNanoLab/#/editNanoMaterialEntity?sampleId={{sampleId.data}}&&type={{type}}&&sampleName={{sampleData.data[0].sampleName}}&&nanoEntityId={{entityType.dataId}}" class="btn btn-primary btn-xxs" style="color:white;text-decoration: none;">
                                Edit
                            </a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="summaryViewNoGrid" width="99%" align="center"
                               style="background-color:#F5F5f5;">
                            <tr  ng-if="entityType.description != ''">
                                <td class="cellLabel" width="10%">
                                    Description
                                </td>
                                <td ng-bind-html="entityType.Description">
                                </td>
                            </tr>
                            <!--            <c:choose>
                                            <c:when test="${!empty entityDetailPage}">
                                                <tr>
                                                    <td class="cellLabel" width="10%">
                                                        Properties
                                                    </td>
                                                    <td>
                                                        <c:set var="nanomaterialEntity" value="${nanomaterialEntity}"
                                                               scope="session" />
                                                        <jsp:include page="${entityDetailPage}">
                                                            <jsp:param name="summary" value="true" />
                                                        </jsp:include>
                                                    </td>
                                                </tr>
                                            </c:when>
                                            <c:otherwise>
                                                <c:if test="${nanomaterialEntity.withProperties }">
                                                    <tr>
                                                        <td class="cellLabel" width="10%">
                                                            Properties
                                                        </td>
                                                        <td colspan="2">
                                                            <%
                                                            String detailPage = gov.nih.nci.cananolab.restful.sample.InitCompositionSetup
                                                            .getInstance().getDetailPage(
                                                            (String) pageContext
                                                            .getAttribute("entityType"),
                                                            "nanomaterialEntity");
                                                            pageContext.setAttribute("detailPage", detailPage);
                                                            %>
                                                            <c:set var="nanomaterialEntity" value="${nanomaterialEntity}"
                                                                   scope="session" />
                                                            <jsp:include page="${detailPage}">
                                                                <jsp:param name="summary" value="true" />
                                                            </jsp:include>
                                                        </td>
                                                    </tr>
                                                </c:if>
                                            </c:otherwise>
                                        </c:choose> -->
                            <tr ng-if="entityType.isWithProperties != ''">
                                <td class="cellLabel" width="10%">
                                    Properties
                                </td>
                                <td colspan="2">
                                    <ng-include src="entityType.detailsPage"></ng-include>
                                </td>
                            </tr>
                            <tr ng-if="entityType.composingElements != ''">
                                <td class="cellLabel" width="10%">
                                    Composing Elements
                                </td>
                                <td>
                                    <!-- XX{{composingElement}}YY -->
                                    <!--     <%@include file="bodyComposingElementView.jsp"%> -->
                                    <ng-include src="'/caNanoLab/views/sample/composition/nanomaterialEntity/composingElement.html'"></ng-include>
                                </td>
                            </tr>
                            <tr ng-if="entityType.Files.length > 0">
                                <th class="cellLabel" width="10%">
                                    Files
                                </th>
                                <td>
                                    <ng-include src="'/caNanoLab/views/sample/composition/fileView.html'"></ng-include>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th valign="top" align="left" height="6">
                    </th>
                </tr>
            </table>
            <br/>
        </td>
    </tr>
</table>
<div id="summarySeparator${index}">
</div>